Client certificate

Hi,

I see the #281 issue but I have a server to test that requires a client certificate otherwise it close quickly the connection.
I have the desired client certificate, how say to testssl program to use it to connect to this server ?

Thanks for your help, Greetings.

JL


Which service you are going to test?



see #919.

OK?

Hi,

I test a server that use TLS1.2 and all connections must have a client certificate otherwise the connection be dropped.

I don't understantd your comment, you comment with this issue number !?

JL

Salut @JL2014 ,

there seems to be another problem here, not related to the client certificate. That works since a longer time. The only thing which you would not be able to check is what comes after the authentication like HTTP header .

Is that server publicly available and/or can you give me the IP (DM/mail) etc?

Thx, Dirk




Hi Dirk,

Sorry, this is a proprietary software used by my company, no public server, only private network.
The server only accepts the client with a certificate, for security reasons there are additional checks and if there is no client certificate, the connection is aborted.

Your software works, but in this context, I will need to tell it "there is a client certificate to use" for tests it do.

JL.


Salut Jean Louis,

> Your software works, but in this context, I will need to tell it "there is a client certificate to use" for tests it do.

there's currently no way to provide a client certificate for testssl.sh. 

And I still don't understand your point:

> The server only accepts the client with a certificate, for security reasons there are additional checks and if there is no client certificate, the connection is aborted.

testssl.sh does ~170 connections, not one ("**the** connection is aborted"). Only a few of those ~170 require a certificate. Those few connections which require one give you a notification that a certificate is required (``certificate based authentication=> skipping all HTTP checks `` or ``client x509-based authentication prevents this from being tested``. The other tests will be just performed as normal.

You got to provide more input, see https://github.com/drwetter/testssl.sh/wiki/Bug-reporting . 

If your server however does more than just requiring a certificate you got to wait until testssl.sh can be configured to use a certificate for the remaining ~10% of the connections.

Cheers, Dirk

Hi,

> there's currently no way to provide a client certificate for testssl.sh.

Okay :,-( , is it possible to force the configuration of openssl that you load for tests to load a client certificate ?

> And I still don't understand your point:

Sorry for my error : **All** the connections are aborted.

For information see the logs of console (you can see only hello empty response) :
`
./testssl.sh --debug 2 --openssl-timeout 5 --htmlfile file.html <<<SERVER_IP>>>:<<<SERVER_PORT>>>

###########################################################
    testssl.sh       2.9dev from https://testssl.sh/dev/
    (1b7e663 2017-11-30 16:07:51 -- )

      This program is free software. Distribution and
             modification under GPLv2 permitted.
      USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!

       Please file bugs @ https://testssl.sh/bugs/

###########################################################

 Using "OpenSSL 1.0.2-chacha (1.0.2i-dev)" [~183 ciphers]
 on <<<LOCAL_SERVER_NAME>>>:./bin/openssl.Linux.x86_64
 (built: "Jun 22 19:32:29 2016", platform: "linux-x86_64")


<<<SERVER_IP>>>:<<<SERVER_PORT>>>
/
 Start 2017-12-04 15:40:51        -->> <<<SERVER_IP>>>:<<<SERVER_PORT>>> (<<<SERVER_IP>>>) <<--

 rDNS (<<<SERVER_IP>>>):  --
OPTIMAL_PROTO:

 <<<SERVER_IP>>>:<<<SERVER_PORT>>> doesn't seem to be a TLS/SSL enabled server
 The results might look ok but they could be nonsense. Really proceed ? ("yes" to continue) --> yes
 Service detected:       Couldn't determine what's running on port <<<SERVER_PORT>>>, assuming no HTTP service => skipping all HTTP checks


 Testing protocols via sockets except SPDY+HTTP2

 SSLv2      sending client hello... reading server hello...
server hello empty
not offered (OK)

 SSLv3
sending client hello... reading server hello...
server hello empty, TCP connection closed
  (1 lines returned)
not offered (OK)
 TLS 1
sending client hello... reading server hello...
server hello empty, TCP connection closed
  (1 lines returned)
not offered
 TLS 1.1
sending client hello... reading server hello...
server hello empty, TCP connection closed
  (1 lines returned)
not offered
 TLS 1.2
sending client hello... reading server hello...
server hello empty, TCP connection closed
  (1 lines returned)

sending client hello... reading server hello...
server hello empty, TCP connection closed
  (1 lines returned)
not offered
 TLS 1.3
sending client hello... reading server hello...
server hello empty, TCP connection closed
  (1 lines returned)
not offered
PROTOS_OFFERED: ssl2:no ssl3:no tls1:no tls1_1:no tls1_2:no tls1_3:no

You should not proceed as no protocol was detected. If you still really really want to, say "YES" --> YES

DEBUG (level 2): see files in /tmp/testssl.TBpe9w

`







Hi JL,

you shouldn't ignore but read the warning  ``` <<<SERVER_IP>>>:<<<SERVER_PORT>>> doesn't seem to be a TLS/SSL enabled server```. 

Cheers, Dirk




 

IP and Port are masked in my logs, the server is alive with good IP and Port ...

Hi @JL2014 ,

The responses may say "(1 line returned)," but each response says "server hello empty, TCP connection closed." This cannot be because there is no client certificate. Section 7.3 of [RFC 5246](https://www.rfc-editor.org/rfc/rfc5246.txt) provides an overview of the TLS handshake:
```
      Client                                               Server

      ClientHello                  -------->
                                                      ServerHello
                                                     Certificate*
                                               ServerKeyExchange*
                                              CertificateRequest*
                                   <--------      ServerHelloDone
      Certificate*
      ClientKeyExchange
      CertificateVerify*
      [ChangeCipherSpec]
      Finished                     -------->
                                               [ChangeCipherSpec]
                                   <--------             Finished
      Application Data             <------->     Application Data

             Figure 1.  Message flow for a full handshake
```
The client sends a ClientHello and the server responds with a ServerHello along with some other messages. If the server wants a certificate from the client, then it will request one by sending a CertificateRequest message after it sends the ServerHello message. The client cannot offer a certificate before the server asks for one. So, the server cannot be dropping the connection because there isn't a client certificate, because it is dropping the connection before even asking for a certificate.

Below is the beginning of a run of testssl.sh on a server that I set up to require client based certificate authentication. As from the figure in RFC 5246, the client sends a ClientHello and the server responds with a ServerHello along with some other messages, including a request for the client to provide a certificate.

Have you tried connecting to your server using the OpenSSL s_client command? With that command you can provide a certificate along with the corresponding private key. Does it show a successful connection, and if so, what are the results?

```
> bash testssl.sh --debug 3 --openssl-timeout 5 --htmlfile file.html 127.0.0.1 

###########################################################
    testssl.sh       2.9dev from https://testssl.sh/dev/

      This program is free software. Distribution and
             modification under GPLv2 permitted.
      USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!

       Please file bugs @ https://testssl.sh/bugs/

###########################################################

 Using "OpenSSL 1.0.2-chacha (1.0.2i-dev)" [~183 ciphers]
 on 857256-02:$PWD/bin/openssl.Linux.x86_64
 (built: "Jun 22 19:32:29 2016", platform: "linux-x86_64")


127.0.0.1:443
/
 Start 2017-12-04 10:56:36        -->> 127.0.0.1:443 (127.0.0.1) <<--

 rDNS (127.0.0.1):       localhost.
one proto determined: tls1_2
OPTIMAL_PROTO: 
 Service detected:      certificate based authentication => skipping all HTTP checks


 Testing protocols via sockets except SPDY+HTTP2 

 SSLv2      sending client hello... reading server hello... 
server hello empty
not offered (OK)

 SSLv3      
sending client hello... reading server hello...
TLS message fragments:
     protocol (rec. layer):  0x0300
     tls_content_type:       0x16 (handshake)
     msg_len:                49

     protocol (rec. layer):  0x0300
     tls_content_type:       0x16 (handshake)
     msg_len:                1363

     protocol (rec. layer):  0x0300
     tls_content_type:       0x16 (handshake)
     msg_len:                331

     protocol (rec. layer):  0x0300
     tls_content_type:       0x16 (handshake)
     msg_len:                13

TLS handshake messages:
     handshake type:         0x02 (server_hello)
     msg_len:                45

     handshake type:         0x0B (certificate)
     msg_len:                1359

     handshake type:         0x0C (server_key_exchange)
     msg_len:                327

     handshake type:         0x0D (certificate_request)
     msg_len:                5

     handshake type:         0x0E (server_hello_done)
     msg_len:                0

TLS server hello message:
     tls_hello_time:         0x2EF3BDB1 date: invalid date '787725745'
     tls_cipher_suite:       0xC014 (TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA)
     tls_compression_method: 0x00 (NONE)

sending close_notify...
  (112 lines returned)  
offered (NOT ok)
```

> as I say, the server drop the connection because there isn't client certificate

Would you please stop drawing wrong conclusions and read the error message carefully?

```
prompt% testssl.sh https://secure.cacert.org

Start 2017-12-04 16:54:50        -->> 213.154.225.246:443 (secure.cacert.org) <<--

 further IP addresses:   2001:7b8:3:9c::246 
 rDNS (213.154.225.246): secure.cacert.org.
 Service detected:      certificate based authentication => skipping all HTTP checks


 Testing protocols via sockets except SPDY+HTTP2 

 SSLv2      not offered (OK)
 SSLv3      not offered (OK)
 TLS 1      offered
 TLS 1.1    offered
 TLS 1.2    offered (OK)
 TLS 1.3    not offered
 SPDY/NPN   not offered
 HTTP2/ALPN not offered

[..]
```




Hi David and Dirk,

You are right both.

After several tests, it seems that there were 3 technical problems on our server:
1) the server only accepted one simultaneous connection and reached its maximum number of connections
2) the server refused the following connections
3) the server had a bug on the ClientHello / ServerHello part that was restarting the server's TLS program

I'm really sorry to have bugged you and gone on the wrong track because I was blind on a big part of this twisted configuration.

Many thanks for your help.