TLS Fallback SCSV checks aren't performed if the server only supports TLS 1.2 and 1.3

**Versions**
> $ ./testssl.sh -b 2>/dev/null | head -4 | tail -2
> testssl.sh       3.1dev from https://testssl.sh/dev/
> (1beac9c 2021-01-25 11:33:03 -- )

> $ ./testssl.sh -b 2>/dev/null | head -16 | tail -3
>  Using "OpenSSL 1.0.2-chacha (1.0.2k-dev)" [~179 ciphers]
>  on kali:./bin/openssl.Linux.x86_64
>  (built: "Jan 18 17:12:17 2019", platform: "linux-x86_64")

> $ uname -a
> Linux kali 5.7.0-kali1-amd64 #1 SMP Debian 5.7.6-1kali2 (2020-07-01) x86_64 GNU/Linux

**Target IP**
Any server which only supports TLS 1.2 and 1.3, for example 64.41.200.100.

**testssl.sh command line**

> $ ./testssl.sh -p 64.41.200.100
> 
> ###########################################################
>     testssl.sh       3.1dev from https://testssl.sh/dev/
>     (1beac9c 2021-01-25 11:33:03 -- )
> 
>       This program is free software. Distribution and
>              modification under GPLv2 permitted.
>       USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!
> 
>        Please file bugs @ https://testssl.sh/bugs/
> 
> ###########################################################
> 
>  Using "OpenSSL 1.0.2-chacha (1.0.2k-dev)" [~179 ciphers]
>  on kali:./bin/openssl.Linux.x86_64
>  (built: "Jan 18 17:12:17 2019", platform: "linux-x86_64")
> 
> 
>  Start 2021-01-31 21:14:37        -->> 64.41.200.100:443 (64.41.200.100) <<--
> 
>  rDNS (64.41.200.100):   ssllabs.com. plaintext.ssllabs.com. staging.ssllabs.com. www.ssllabs.com.
>  Service detected:       HTTP
> 
> 
>  Testing protocols via sockets except NPN+ALPN 
> 
>  SSLv2      not offered (OK)
>  SSLv3      not offered (OK)
>  TLS 1      not offered
>  TLS 1.1    not offered
>  TLS 1.2    offered (OK)
>  TLS 1.3    offered (OK): final
>  NPN/SPDY   not offered
>  ALPN/HTTP2 h2, http/1.1 (offered)
> 
> 
>  Done 2021-01-31 21:15:08 [  32s] -->> 64.41.200.100:443 (64.41.200.100) <<--


> $ ./testssl.sh -Z 64.41.200.100
> 
> ###########################################################
>     testssl.sh       3.1dev from https://testssl.sh/dev/
>     (1beac9c 2021-01-25 11:33:03 -- )
> 
>       This program is free software. Distribution and
>              modification under GPLv2 permitted.
>       USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!
> 
>        Please file bugs @ https://testssl.sh/bugs/
> 
> ###########################################################
> 
>  Using "OpenSSL 1.0.2-chacha (1.0.2k-dev)" [~179 ciphers]
>  on kali:./bin/openssl.Linux.x86_64
>  (built: "Jan 18 17:12:17 2019", platform: "linux-x86_64")
> 
> 
>  Start 2021-01-31 21:12:42        -->> 64.41.200.100:443 (64.41.200.100) <<--
> 
>  rDNS (64.41.200.100):   www.ssllabs.com. ssllabs.com. plaintext.ssllabs.com. staging.ssllabs.com.
>  Service detected:       HTTP
> 
> 
>  Testing for TLS_FALLBACK_SCSV Protection 
> 
>  TLS_FALLBACK_SCSV (RFC 7507)              No fallback possible (OK), no protocol below TLS 1.2 offered
> 
> 
>  Done 2021-01-31 21:12:52 [  12s] -->> 64.41.200.100:443 (64.41.200.100) <<--

**Behavior**
In cases where the server only support TLS 1.2 and 1.3, TLS Fallback SCSV checks are not performed, and a message stating "No fallback possible (OK), no protocol below TLS 1.2 offered" is returned.

**Expected Behavior**
While there are currently no known major attacks against TLS 1.2, it would still be useful to check for the presence of TLS Fallback SCSV in such situations. This should be possible using the same openssl s_client commands which are currently used to perform the check against other TLS versions. Implementing this functionality would provide parity with SSL Labs, which is currently performing the check even with only TLS 1.2 and 1.3 are supported.

The ssllabs.com server does seem to behave as you indicate, responding with an inappropriate fallback alert if it receives a TLS 1.2 ClientHello that includes the TLS_FALLBACK_SCSV cipher suite. However, I am not yet convinced that testssl.sh is incorrect in not testing for this.

RFC 7507 notes that TLS_FALLBACK_SCSV is defined to prevent downgrade attacks. There is no mention of this cipher suite value in RFC 8446, other than in the definition of the inappropriate_fallback alert. Instead, RFC 8446 says:

> 1.3.  Updates Affecting TLS 1.2
> 
>    This document defines several changes that optionally affect
>    implementations of TLS 1.2, including those which do not also support
>    TLS 1.3:
> 
>    -  A version downgrade protection mechanism is described in
>       Section 4.1.3.

Section 4.1.3 says:
>    TLS 1.3 has a downgrade protection mechanism embedded in the server's
>    random value.  TLS 1.3 servers which negotiate TLS 1.2 or below in
>    response to a ClientHello MUST set the last 8 bytes of their Random
>    value specially in their ServerHello.
> 
>    If negotiating TLS 1.2, TLS 1.3 servers MUST set the last 8 bytes of
>    their Random value to the bytes:
> 
>      44 4F 57 4E 47 52 44 01
> 
>    If negotiating TLS 1.1 or below, TLS 1.3 servers MUST, and TLS 1.2
>    servers SHOULD, set the last 8 bytes of their ServerHello.Random
>    value to the bytes:
> 
>      44 4F 57 4E 47 52 44 00
> 
>    TLS 1.3 clients receiving a ServerHello indicating TLS 1.2 or below
>    MUST check that the last 8 bytes are not equal to either of these
>    values.  TLS 1.2 clients SHOULD also check that the last 8 bytes are
>    not equal to the second value if the ServerHello indicates TLS 1.1 or
>    below.  If a match is found, the client MUST abort the handshake with
>    an "illegal_parameter" alert.

So, if a TLS 1.3 client sends a TLS 1.2 ClientHello to a server that supports TLS 1.3, the server will response with a ServerHello that includes "44 4F 57 4E 47 52 44 01" in its Random value (the ssllabs.com server does this if the ClientHello does not include the TLS_FALLBACK_SCSV cipher suite). The client is required to check for these values and then abort the handshake, so the fallback does not occur.

Thus, the reason that TLS_FALLBACK_SCSV isn't needed is not that there are no major attacks against TLS 1.2, it is that TLS 1.3 includes a different downgrade protection mechanism. In the case of a server that only supports TLS 1.3 and TLS 1.2, downgrade protection is only needed for TLS 1.3 clients, and TLS 1.3 clients should be checking the ServerHello.Random value. In that case, I don't think that testssl.sh should penalize the server for implementing the downgrade mechanism defined in TLS 1.3, but not also implementing the mechanism defined in RFC 7507.

As further support for testssl.sh's current behavior, Section 1.1 of [RFC 8996](https://www.rfc-editor.org/rfc/rfc8996.html#name-rfcs-updated) says:

> The version-fallback Signaling Cipher Suite Value specified in [[RFC7507](https://www.rfc-editor.org/info/rfc7507)] was defined to detect when a given client and server negotiate a lower version of (D)TLS than their highest shared version. TLS 1.3 ([[RFC8446](https://www.rfc-editor.org/info/rfc8446)]) incorporates a different mechanism that achieves this purpose, via sentinel values in the ServerHello.Random field. With (D)TLS versions prior to 1.2 fully deprecated, the only way for (D)TLS implementations to negotiate a lower version than their highest shared version would be to negotiate (D)TLS 1.2 while supporting (D)TLS 1.3; supporting (D)TLS 1.3 implies support for the ServerHello.Random mechanism. Accordingly, the functionality from [[RFC7507](https://www.rfc-editor.org/info/rfc7507)] has been superseded, and this document marks it as Obsolete.