None-flat JSON support

Most JSON files are not flat. It would be great if testssl.sh would support this.

It seems to be also the output of the SSLlabs API, compare e.g. https://api.ssllabs.com/api/v3/analyze?host=ssllabs.com&all=done


Hi, 
Just wanted to mention it that it would be nice to have a bit more information in JSON report (date  etc...), but found this ticket. 

I am working on a plugin for ThreadFix to support/parse a TestSSL report in format of JSON. 
Do you have already any ideas, what a structure of JSON object it would be like? 

P.S. I could help with the implementation. 



Hi @AlGreed ,

thx first!

1) date etc.: yes!

2) approximately that would be the structure, yes. I would omit the IP address in the leafs and mention it 1x together with the host in the root. Didn't get your concern but it's late here ;-)

3) the terminal output has now different sections. IMO it would make sense at least for long terms to have that in JSON too, e.g. protocols, standard cipher lists, PFS, ....

looking fwd!

Cheers, Dirk

PS: Did we meet yet somewhere? 



Hi, 

I have done some further changes to structure. 
The main goal was changing code as less as possible. 
Now the structure is looking as follows:

```
{
          "host"        : "humble-home.tgpz",
          "port"        : "8443",
          "startTime"   : "1471012273",
          "version"     : "2.8rc1",
          "scanResult"  : {
                    "service"           : [
                            {
                                 "id"           : "service",
                                 "severity"     : "INFO",
                                 "finding"      : "Service detected: HTTP"
                            }
                    ],
                    "protocols"         : [
                            {
                                 "id"           : "sslv2",
                                 "severity"     : "OK",
                                 "finding"      : "SSLv2 not offered (OK)"
                            },...
                    ],
                    "ciphers"           : [
                            {
                                 "id"           : "std_NULL",
                                 "severity"     : "OK",
                                 "finding"      : "Null Ciphers              not offered (OK)"
                            },...
                    ],
                    "pfs"               : [
                            {
                                 "id"           : "pfs",
                                 "severity"     : "OK",
                                 "finding"      : "(Perfect) Forward Secrecy : PFS is offered (OK)"
                            }...
                    ],
                    "serverPreferences" : [
                            {
                                 "id"           : "order",
                                 "severity"     : "NOT ok",
                                 "finding"      : "Server does NOT set a cipher order (NOT ok)"
                            }...
                    ],
                    "serverDefaults"    : [
                            {
                                 "id"           : "tls_extensions",
                                 "severity"     : "INFO",
                                 "finding"      : "TLS server extensions (std): 'renegotiation info/#65281'"
                            }...
                    ],
                    "headerResponse"    : [
                            {
                                 "id"           : "status_code",
                                 "severity"     : "INFO",
                                 "finding"      : "Testing HTTP header response @ '/', 400 Bad Request (Hint: better try another URL)"
                            }...
                    ],
                    "vulnerabilities"   : [
                            {
                                 "id"           : "heartbleed",
                                 "severity"     : "OK",
                                 "finding"      : "Heartbleed (CVE-2014-0160): not vulnerable (OK) (no heartbeat extension)"
                            },{
                                 "id"           : "ccs",
                                 "severity"     : "OK",
                                 "finding"      : "CCS (CVE-2014-0224): not vulnerable (OK)"
                            },{
                                 "id"           : "secure_renego",
                                 "severity"     : "OK",
                                 "finding"      : "Secure Renegotiation (CVE-2009-3555) : not vulnerable (OK)"
                            },{
                                 "id"           : "sec_client_renego",
                                 "severity"     : "OK",
                                 "finding"      : "Secure Client-Initiated Renegotiation : likely not vulnerable (OK) (timed out)"
                            },{
                                 "id"           : "crime",
                                 "severity"     : "OK",
                                 "finding"      : "CRIME, TLS (CVE-2012-4929) : Not vulnerable (OK)"
                            },{
                                 "id"           : "breach",
                                 "severity"     : "OK",
                                 "finding"      : "BREACH (CVE-2013-3587) : no HTTP compression (OK)  - only supplied '/' tested"
                            },{
                                 "id"           : "poodle_ssl",
                                 "severity"     : "OK",
                                 "finding"      : "POODLE, SSL (CVE-2014-3566) : not vulnerable (OK)"
                            }...
                    ],
                    "cipherTests"       : [
                            {
                                 "id"           : "cipher_xc030",
                                 "severity"     : "INFO",
                                 "finding"      : "xc030   ECDHE-RSA-AES256-GCM-SHA384       ECDH [0;32m256 [m  AESGCM    256      TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
                            }, ...
                    ],
                    "browserSimulations": [
                            {
                                 "id"           : "client_android_237",
                                 "severity"     : "INFO",
                                 "finding"      : "Android2.3.7 client simulation:  TLSv1.0 AES128-SHA"
                            }, ...
                    ]
          },
          "ip"        : "123.123.123.12",
          "scanTime"  : "141"
}
```

* What do you think? 

* As well i would like to suppose to add two optional fields: CVE and CWE. CVE is already in a finding text, so i 'd just move it to a new field. CWE (Common Weakness Enumeration) [http://cwe.mitre.org/] is like a classification of CVE. Roughly speaking, all SSL vulnerabilities belong to CWE-934 (OWASP Top Ten 2013 Category A6 - Sensitive Data Exposure).  Or exactly, that ,for example, heartbleed attack is a Buffer Over-read attack. And it is already CWE-126.

ThreadFix is based on it. So i could build a classification, add it in testssl vulnerabilities and use in ThreadFix.  

P.S.: No, we have not met yet.  Maybe the next OWASP Stammtisch, who knows ;)


Am 14. August 2016 20:36:22 MESZ, schrieb Oleksandr Nosenko <notifications@github.com>:
>Hi, 
>
>I have done some further changes to structure. 
>The main goal was changing code as less as possible. 
>Now the structure is looking as follows:
>
>```
>{
>          "host"        : "humble-home.tgpz",
>          "port"        : "8443",
>          "startTime"   : "1471012273",
>          "version"     : "2.8rc1",
>          "scanResult"  : {
>                    "service"           : [
>                            {
>                                 "id"           : "service",
>                                 "severity"     : "INFO",
>                              "finding"      : "Service detected: HTTP"
>                            }
>                    ],
>                    "protocols"         : [
>                            {
>                                 "id"           : "sslv2",
>                                 "severity"     : "OK",
>                              "finding"      : "SSLv2 not offered (OK)"
>                            },...
>                    ],
>                    "ciphers"           : [
>                            {
>                                 "id"           : "std_NULL",
>                                 "severity"     : "OK",
>          "finding"      : "Null Ciphers              not offered (OK)"
>                            },...
>                    ],
>                    "pfs"               : [
>                            {
>                                 "id"           : "pfs",
>                                 "severity"     : "OK",
>     "finding"      : "(Perfect) Forward Secrecy : PFS is offered (OK)"
>                            }...
>                    ],
>                    "serverPreferences" : [
>                            {
>                                 "id"           : "order",
>                                 "severity"     : "NOT ok",
>         "finding"      : "Server does NOT set a cipher order (NOT ok)"
>                            }...
>                    ],
>                    "serverDefaults"    : [
>                            {
>                                 "id"           : "tls_extensions",
>                                 "severity"     : "INFO",
>"finding"      : "TLS server extensions (std): 'renegotiation
>info/#65281'"
>                            }...
>                    ],
>                    "headerResponse"    : [
>                            {
>                                 "id"           : "status_code",
>                                 "severity"     : "INFO",
>"finding"      : "Testing HTTP header response @ '/', 400 Bad Request
>(Hint: better try another URL)"
>                            }...
>                    ],
>                    "vulnerabilities"   : [
>                            {
>                                 "id"           : "heartbleed",
>                                 "severity"     : "OK",
>"finding"      : "Heartbleed (CVE-2014-0160): not vulnerable (OK) (no
>heartbeat extension)"
>                            },{
>                                 "id"           : "ccs",
>                                 "severity"     : "OK",
>            "finding"      : "CCS (CVE-2014-0224): not vulnerable (OK)"
>                            },{
>                                 "id"           : "secure_renego",
>                                 "severity"     : "OK",
>"finding"      : "Secure Renegotiation (CVE-2009-3555) : not vulnerable
>(OK)"
>                            },{
>                                 "id"           : "sec_client_renego",
>                                 "severity"     : "OK",
>"finding"      : "Secure Client-Initiated Renegotiation : likely not
>vulnerable (OK) (timed out)"
>                            },{
>                                 "id"           : "crime",
>                                 "severity"     : "OK",
>    "finding"      : "CRIME, TLS (CVE-2012-4929) : Not vulnerable (OK)"
>                            },{
>                                 "id"           : "breach",
>                                 "severity"     : "OK",
>"finding"      : "BREACH (CVE-2013-3587) : no HTTP compression (OK)  -
>only supplied '/' tested"
>                            },{
>                                 "id"           : "poodle_ssl",
>                                 "severity"     : "OK",
>   "finding"      : "POODLE, SSL (CVE-2014-3566) : not vulnerable (OK)"
>                            }...
>                    ],
>                    "cipherTests"       : [
>                            {
>                                 "id"           : "cipher_xc030",
>                                 "severity"     : "INFO",
>"finding"      : "xc030   ECDHE-RSA-AES256-GCM-SHA384       ECDH
>[0;32m256 [m  AESGCM    256     
>TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
>                            }, ...
>                    ],
>                    "browserSimulations": [
>                            {
>                                 "id"           : "client_android_237",
>                                 "severity"     : "INFO",
> "finding"      : "Android2.3.7 client simulation:  TLSv1.0 AES128-SHA"
>                            }, ...
>                    ]
>          },
>          "ip"        : "123.123.123.12",
>          "scanTime"  : "141"
>}
>```
>
>* What do you think? 

Awesome!

The only thing which needs to be discussed how or if we keep the flat json option. It's being also used for unit testing.

@seccubus? 

If we want to have two json outputs best would be to have a separate cmd line switch and if possible use the same output function.

>* As well i would like to suppose to add two optional fields: CVE and
>CWE. CVE is already in a finding text, so i 'd just move it to a new
>field. CWE (Common Weakness Enumeration) [http://cwe.mitre.org/] is
>like a classification of CVE. Roughly speaking, all SSL vulnerabilities
>belong to CWE-934 (OWASP Top Ten 2013 Category A6 - Sensitive Data
>Exposure).  Or exactly, that ,for example, heartbleed attack is a
>Buffer Over-read attack. And it is already CWE-126.
>
>ThreadFix is based on it. So i could build a classification, add it in
>testssl vulnerabilities and use in ThreadFix.  

I see. That would help then of course.


>P.S.: No, we have not met yet.  Maybe the next OWASP Stammtisch, who
>knows ;)

Sure!

Cheers, Dirk


-- 
Sent from my mobile. Excuse my brevity&typos+the phone's autocorrection 


I think we should have one JSON file format, not two. My experience with e.g. SSL Labs JSON output is that a non-flat file is actually harder to parse that a flat file and we are more likely to make errors in it.

Me and @blabla1337 have already integrated testssl into Seccubus based on the flat format, we will have to swithc that or wrtie some detection code. The unit tests also need to be re-written and I'm not sure I will have the time for it in the short run.

The problem I have with the SSL Labs API output is that 
a) ID is only unique within a certain context, not within a host/port combination (not wirried about that)
b) There is no descriptive text in the findings (which is in the testssl output)
c) You cannot always enumerate/iterate over the nodes to get meaningful results 

I we can avoid these three pitfalls it shouldn't be a problem.

@seccubus : I can follow your arguments and I would not like to have unit tests rewritten.

However I do not understand why there shouldn't  be another JSON format. It's agnostic to the rest of the code hopefully. Moreover I like the idea of ThreadFix integration (hello @dancornell ;-)

@drwetter if you can stand the maintenance load I don't have any objections.
I'm still holding off integration of testssl.sh into Seccubus because the stable version still doesn't have JSON output and there is no telling what the JSON output of testssl.sh will look like once it hits stable.

> because the stable version still doesn't have JSON output and there is no telling what the JSON 
> output of testssl.sh will look like once it hits stable.

Frank: you lost me. :-) Current 2.8 version (almost stable) has JSON output from you. It's feature freezed -- except the merge from the CA pinning and your update on client simulation.

What is being talked here is for 2.9dev (it is already open).

Apparently I was the one who was lost here ;) 
Cool, I'll make sure there is a Seccubus/testssl.sh integration.

If this is an additional format, I have no objects apart from the maintenance burden. I guess a unit test that ensures that whatever is in format 1 is in format 2 too should do the trick.

Agreed, the only challenge I see is to integrate the new format smoothly. Flat formats are easier as they don't have to care about indenting. Curious on @AlGreed 's solution ..-)

As for 2.8 I am tempted to just label the current master as stable at soon point of time. before getting every little piece done. There are sill coming more smaller issues every week or so.
 
Everybody should pick it up then (in fact from now on at least) as it is definitively more bug free as 2.6. 

For new features like this JSON format  there's 2.9dev.

Right now my fork provides both JSON output formats (flat and none flat).  So lets discuss the changes and if everyone is agreed, i will pull request to merge. 

* Nothing was changed in flat format:
```
[
        {
              "id"           : "service",
              "ip"           : "host.de/11.111.111.1",
              "port"         : "8443",
              "severity"     : "INFO",
              "finding"      : "Service detected: HTTP"
         }
,        {
              "id"           : "sslv2",
    ........
```
* None flat has different sections and some additional fields. For this output i added "--json-pretty" and "--jsonfile-pretty" arguments.
```
{
          "host"        : "host.de",
          "port"        : "8443",
          "startTime"   : "1476412946",
          "version"     : "2.8rc2",
          "scanResult"  : {
                    "service"           : [
                            {
                                "id"           : "service",
                                "severity"     : "INFO",
                                "finding"      : "Service detected: HTTP"
                           }
                    ],
                    "protocols"         : [
                            {
                                "id"           : "sslv2",
                                "severity"     : "OK",
                                "finding"      : "SSLv2 not offered (OK)"
                           },{
           .....
          },
          "ip"        : "11.111.111.1",
          "scanTime"  : "100"
}
```
* I think we should change the script iteratively. So support of CVE and CWE i would like to add after merger.

Hi @AlGreed ,

> Right now my fork provides both JSON output formats (flat and none flat). So lets discuss the changes and if everyone is agreed, i will pull request to merge. 

Sounds like a plan :)

> None flat has different sections and some additional fields. For this output i added "--json-pretty" and "--jsonfile-pretty" arguments.
[..some output here ..]

The command line option is secondary, the output has priority and definitely looks good to me.

Please not that testssl needs to reflect the the severity output better the severity :-) , see  #466. So e.g. critical needs to be ``"severity"     : "CRITICAL"``.

> I think we should change the script iteratively. So support of CVE and CWE i would like to add after merger.

yes, please. 

The very important thing though: How do you invoke the output? This a general design question.
Besides that general Q && FYI: A good idea this project had (see #232)  was that e.g. ``testssl.sh --severity X`` should be able to output only findings with a severity >= X. 

For terminal output this is a longer way to go as basically very "out"/"pr_" calling function has to be modified. For JSON/CSV it looks to me it is way easier as within fileout() can be decided what severity level should appear in the JSON/CSV file. 

Here it would be important to me that the non-flat JSON output will be designed in such a way that ``testssl.sh --severity X`` would be possible in a similar easy fashion.


Okay. 

Added a new option --severity "x" without changing the severity names and functionality to filter findings with a lower severity:

```
#################### SEVERITY ####################
INFO=0
OK=1
WARN=2
MEDIUM=3
NOTOK=4

SEVERITY_LEVEL=0

set_severity_level() {
   local severity=$1
   echo $severity

   if [ "$severity" == "INFO" ]; then
           SEVERITY_LEVEL=$INFO
   elif [ "$severity" == "OK" ]; then
           SEVERITY_LEVEL=$OK
   elif [ "$severity" == "WARN" ]; then
           SEVERITY_LEVEL=$WARN
   elif [ "$severity" == "MEDIUM" ]; then
           SEVERITY_LEVEL=$MEDIUM
   elif [ "$severity" == "NOT ok" ]; then
           SEVERITY_LEVEL=$NOTOK
   else
        echo "Not supported severity level!"
        help
   fi
}

show_finding() {
   local severity=$1

   ([[ "$severity" == "INFO" ]] && [[ $SEVERITY_LEVEL -le $INFO ]]) ||
   ([[ "$severity" == "OK" ]] && [[ $SEVERITY_LEVEL -le $OK ]]) ||
   ([[ "$severity" == "WARN" ]] && [[ $SEVERITY_LEVEL -le $WARN ]]) ||
   ([[ "$severity" == "MEDIUM" ]] && [[ $SEVERITY_LEVEL -le $MEDIUM ]]) ||
   ([[ "$severity" == "NOT ok" ]] && [[ $SEVERITY_LEVEL -le $NOTOK ]])
}

..........

fileout() { # ID, SEVERITY, FINDING
     local severity=$2

     if show_finding "$severity"; then
         ......
```

OUTPUT for ./testssl.sh --json-pretty --severity "MEDUIM" host.de:9999
: 
```
{
          "host"        : "host.de",
          "port"        : "9999",
          "startTime"   : "1476698903",
          "version"     : "2.8rc2",
          "scanResult"  : {
                    "service"           : [

                    ],
                    "protocols"         : [

                    ],
                    "ciphers"           : [
                            {
                                "id"           : "xxxx",
                                "severity"     : "MEDIUM",
                                "finding"      : "xxxx"
                           }
                    ],
                    "pfs"               : [

                    ],
                    "serverPreferences" : [
                            {
                                "id"           : "xxxx",
                                "severity"     : "NOT ok",
                                "finding"      : "xxxx"
                           }
                    ],
                    .....
```

Here i  did not understand well:
> Please not that testssl needs to reflect the the severity output better the severity :-) , see #466. So e.g. critical needs to be "severity" : "CRITICAL".

> I would suggest the following:
pr_svrty_critical(ln) --> CRITICAL
pr_svrty_high(ln) --> HIGH
pr_svrty_medium(ln) --> MEDIUM (mostly consistent)
pr_svrty_minor(ln) --> LOW
out --> INFO (mostly consistent)

According to that thread: i would like to hear any suggestion. 

Right now we have: INFO, OK, WARN, MEDIUM, NOT ok.
Do we want just to change "NOT ok" to CRITICAL?  
Do we want to combine "OK" with INFO? 

In any case if it is needed to change severities, it will not be a problem to anybody, who knows, which vulnerabilities should be set ,for example, to High or Critical severity, to apply the upper code.

> Do we want to split "NOT ok" to CRITICAL and High?

yes, "NOT ok" should vanish in JSON/CSV output. On the screen it is still fine for now as the severity is represented by color.

> Do we want to combine "OK" with INFO? 

A) it should be consistent that INFO is just informational (e.g. TLS 1.0).

B) At the moment OK is something which is good (TLS 1.2). I am not completely happy with the word OK though but ATM I have nothing better in my mind. 

Except the OK, the whole (new) rating in the file output should be seen through the eyes of a pentester.

> I could change the severities names and order, but set vulnerabilities to corresponding severity level (which is High or Critical) will be a problem.

Not sure whether I understand you. Every terminal output in the code has (should have!) a corresponding "fileout" call. There's a mismatch between those two at the moment which needs to be corrected as stated in https://github.com/drwetter/testssl.sh/issues/466#issue-176189983.
  

Code snippet looks good so far!  Mind the double brackets ([[ --> bash internal=saves time; [ is /usr/bin/[. For zsh it wouldn't matter IIRC)

Okay,  how i understood, what i should pass to fileout():

* in case of pr_svrty_minor i must set LOW
* in case of pr_svrty_medium i must set MEDIUM
* in case of pr_svrty_high i must set HIGH
* in case of pr_svrty_critical i must set CRITICAL
* in case of pr_warning i must set WARN
* in case of pr_done_good i must set OK
* in case of pr_done_best i must set OK


Like: 
```
                  pr_svrty_high "$result"
                  outln "\n$spaces$your_ip_msg"
-                 fileout "ip_in_header_$count" "NOT ok" ......
+                 fileout "ip_in_header_$count" "HIGH" ......

```

**Sometimes it is but fully different:**

- Should i set INFO to LOW in the following snippets?
```
if grep -a "OCSP response" <<<"$ocsp_response" | grep -q "no response sent" ; then
          pr_svrty_minor "--"
          fileout "${json_prefix}ocsp_stapling" "INFO" "OCSP stapling : not offered"
```

- oh we have minor as well. MINOR to LOW? or LOW to MINOR, because of function name pr_svrty_minor?
```
               out "$spaces"
               pr_svrty_minor "VULNERABLE"
               outln " -- but also supports higher protocols ...
               fi
               fileout "beast" "MINOR" "BEAST (CVE-2011-3389) : VULNERABLE.....
```
- What to do with DEBUG? DEBUG to HIGH in the following snipet?
```
               pr_svrty_high " No matching key for pins found "
               out "(CAs pinned? -- not checked for yet)"
               fileout "hpkp_keymatch" "DEBUG" "The TLS key does not match any key pinned....
```

- How i understand WARN is just information field like INFO. 

> pr_warning()  ..... # some local problem: one test cannot be done 

So it shows, that a test could not be completed. But there can be a finding with any severity level.  So how critical is WARN actually then? Should it be shown in any case? So i could give to it the maximal severity level, then we have this order: INFO, OK, LOW, MEDIUM, HIGH, CRITICAL, WARN. Or???

```
 pr_svrty_high "CVE-2015-3197: $supported_no_ciph2";
                    fileout "sslv2" "WARN" "CVE-2015-3197: SSLv2 is $supported_no_ciph2"
                    add_tls_offered "ssl2"
```




Lot's of questions ;-)

> 
    in case of pr_svrty_minor i must set LOW
    in case of pr_svrty_medium i must set MEDIUM
    in case of pr_svrty_high i must set HIGH
    in case of pr_svrty_critical i must set CRITICAL
    in case of pr_warning i must set WARN
    in case of pr_done_good i must set OK
    in case of pr_done_best i must set OK

yes!

> Should i set INFO to LOW in the following snippets? [..]

yes. Relevant is what's on the screen. That has been done consistently. Reason in this case OCSP stapling gives a privacy and availability advantage.

> oh we have minor as well. MINOR to LOW? or LOW to MINOR, because of function name pr_svrty_minor?

LOW is the term which needs to be used here.

> What to do with DEBUG? DEBUG to HIGH in the following snipet?

at the moment please no changes in key pinning. There's a PR waiting which would cause more headaches otherwise and I did some changes already in the PR. In general: DEBUG in fileout can be used if there's additional optional or debugging output. 

> pr_warning() ..... # some local problem: one test cannot be done 
So how critical is WARN actually then? 

In the severity levels speaking: none. Testssl for whatever reason cannot perfom this particular test. It's not a finding related to the server side.

HTH, Dirk 



> in case of pr_svrty_minor i must set LOW
in case of pr_svrty_medium i must set MEDIUM
in case of pr_svrty_high i must set HIGH
in case of pr_svrty_critical i must set CRITICAL
in case of pr_warning i must set WARN
in case of pr_done_good i must set OK
in case of pr_done_best i must set OK

Done. 

> In severity levels speaking: none. 

Okay:
```
INFO=0
WARN=0
OK=1
LOW=2
MEDIUM=3
HIGH=4
CRITICAL=5
```

> DEBUG in fileout can be used if there's additional optional or debugging output.

Applied "show_finding" function to show "DEBUG" in any case:
```
show_finding() {
   local severity=$1

   ([[ "$severity" == "DEBUG" ]]) ||
   ([[ "$severity" == "INFO" ]] && [[ $SEVERITY_LEVEL -le $INFO ]]) ||
   ([[ "$severity" == "WARN" ]] && [[ $SEVERITY_LEVEL -le $WARN ]]) ||
```
> Testssl for whatever reason cannot perfom this particular test.

I took WARN for a report instead of ERROR and ERROR_MINOR. Ok?

```
[[ $DEBUG -ge 3 ]] && hexdump -C "$TEMPDIR/$NODEIP.sslv2_sockets.dd" | head -1
               ret=7
-             fileout "drown" "MINOR_ERROR" "SSLv2: received a strange SSLv2 reply ....
+            fileout "drown" "WARN" "SSLv2: received a strange SSLv2 reply ....
```
```
old_fart() {
     outln "Get precompiled bins or compile https://github.com/PeterMosmans/openssl ."
-    fileout "old_fart" "ERROR" "Your $OPENSSL $OSSL_VER version is an old fart...
+   fileout "old_fart" "WARN" "Your $OPENSSL $OSSL_VER version is an old fart...   
```

Anything else? Time to pull request?


> NFO=0
WARN=0
OK=1
LOW=2
MEDIUM=3
HIGH=4
CRITICAL=5

any reason for not having OK and INFO at the same level?

> I took WARN for a report instead of ERROR and ERROR_MINOR. Ok?

as it is the only place: for now yes. Thanks for catching this!

Medium terms would be to use another labeling scheme for this (like e.g. pr_cyan => not a clear client side problem). This is another to-do for the future and needs a bit of consideration to get this done properly.


PR: you're welcome :+1: Please for 2.9dev.



Should WARN score higher then INFO/OK?
I know I may want to address warnings while I want to ignore OKs and INFOs

@seccubus : Hmm, yes. I always expect testssl.sh to give feedback if something cannot be tested. The user should -- by normal means -- not be able to suppress warnings. 

> ``  ([[ "$severity" == "WARN" ]] && [[ $SEVERITY_LEVEL -le $WARN ]]) ``

doesn't make sense then.

But admittedly WARN (pr_warning) is misleading and could be changed. This is another topic though and one thing after the other should be tackled.






Last changes:

* WARN is showed in any case

> The user should -- by normal means -- not be able to suppress warnings.

```
   ([[ "$severity" == "DEBUG" ]]) ||
   ([[ "$severity" == "WARN" ]]) ||
   ([[ "$severity" == "INFO" ]] && [[ $SEVERITY_LEVEL -le $INFO ]]) ||
```

* I threw away OK and INFO for --severity as input parameters. They have have severity level equal to zero and per default SEVERITY_LEVER = 0 -->  So it is no need to set them explicitly.

```
INFO=0
OK=0
LOW=1
MEDIUM=2
HIGH=3
CRITICAL=4

SEVERITY_LEVEL=0

set_severity_level() {
   local severity=$1

   if [[ "$severity" == "LOW" ]]; then
           SEVERITY_LEVEL=$LOW
   elif [[ "$severity" == "MEDIUM" ]]; then
           SEVERITY_LEVEL=$MEDIUM
   elif [[ "$severity" == "HIGH" ]]; then
           SEVERITY_LEVEL=$HIGH
   elif [[ "$severity" == "CRITICAL" ]]; then
           SEVERITY_LEVEL=$CRITICAL
   else
        echo "Supported severity levels are LOW, MEDIUM, HIGH, CRITICAL!"
        help
   fi
}

show_finding() {
   local severity=$1

   ([[ "$severity" == "DEBUG" ]]) ||
   ([[ "$severity" == "WARN" ]]) ||
   ([[ "$severity" == "INFO" ]] && [[ $SEVERITY_LEVEL -le $INFO ]]) ||
   ([[ "$severity" == "OK" ]] && [[ $SEVERITY_LEVEL -le $OK ]]) ||
   ([[ "$severity" == "LOW" ]] && [[ $SEVERITY_LEVEL -le $LOW ]]) ||
   ([[ "$severity" == "MEDIUM" ]] && [[ $SEVERITY_LEVEL -le $MEDIUM ]]) ||
   ([[ "$severity" == "HIGH" ]] && [[ $SEVERITY_LEVEL -le $HIGH ]]) ||
   ([[ "$severity" == "CRITICAL" ]] && [[ $SEVERITY_LEVEL -le $CRITICAL ]])
}
```

* Applied 01_baddssl.com.t to new severity levels.

*  I run shellcheck and solved all remarks corresponded to my code (some doubled quotes etc)
.
* Manually i run those cases to check whether nothing is broken:
```
./testssl.sh --csv url:port
./testssl.sh --json url:port
./testssl.sh --jsonfile "test.json" url:port

 ./testssl.sh --jsonfile-pretty --severity "CRITICAL" url:port
 ./testssl.sh --jsonfile-pretty "test.json" --severity "LOW" url:port
```

* Btw is this finding  really a warning? 
```
 "serverDefaults"    : [
                            {
                                "id"           : "trust",
                                "severity"     : "WARN",
                                "finding"      : "Ok via CN, but not SAN (w/o SNI: Ok via CN, but not SAN)"
                           }
```


> Btw is this finding really a warning?
> ```
>  "serverDefaults"    : [
>                             {
>                                 "id"           : "trust",
>                                 "severity"     : "WARN",
>                                 "finding"      : "Ok via CN, but not SAN (w/o SNI: Ok via CN, but not SAN)"
>                            }
> ```

I believe that I am the one who marked that as a warning. I did that based on Section 6.4.4 of [RFC 6125](https://www.rfc-editor.org/rfc/rfc6125.txt), which states that:

> a client MUST NOT seek a match for a reference identifier of CN-ID if the presented identifiers include a DNS-ID, SRV-ID, URI-ID, or any application-specific identifier types supported by the client.
> 
> Therefore, if and only if the presented identifiers do not include a DNS-ID, SRV-ID, URI-ID, or any application-specific identifier types supported by the client, then the client MAY as a last resort check for a string whose form matches that of a fully qualified DNS domain name in a Common Name field of the subject field (i.e., a CN-ID).

The warning appears if the certificate includes a subjectAltName extension with a DNS name, but no names in the subjectAltName match the presented name (`$NODE`). As I understand the text from [RFC 6125](https://www.rfc-editor.org/rfc/rfc6125.txt), clients that support checking the subjectAltName extension (and they all do now) would fail on such certificates, since they would not look at the CN in the subject field. The results would be the same as if there were no match in either the CN or the subjectAltName extension.

Note that I was only able to test this scenario by creating my own certificate. In all of the real servers that I tested against, whatever value appeared in the CN also appeared in the subjectAltName extension.

Thank you, @dcooper16 for the explanation. I was not sure what this test is about. 

I had once such a problem on my way.

Just quickly tested both cases:

without fqdn in SubjectAlternativeName -> WARN
```
SubjectAlternativeName [
  DNSName: cn-alias.app
]  
```

with fqdn -> OK
```
SubjectAlternativeName [
  DNSName: fqdn
  DNSName: cn-alias.app
]
```

So it is a misconfiguration in certificates on a server side. I assume it can not be exploited, but client with a subjectAltName extension will be not able to communicate with an application on the server.  

So is WARN ok?  WARN is only for tests that cannot be done, how i understood. In this case the test was completed, but result is abit critical, is it? 

see 1d461307be302454c71b9461fbe0df54888748ec