[possible BUG] Downgrade grade if Forward Secrecy is not set

**Before you open an issue please check which version you are running and whether it is the latest in stable / dev branch**

I am running version 3.2.0


**Before you open an issue please whether this is a known problem by searching the issues**

couldn't find anything


**Command line / docker command to reproduce**
testssl.sh url

**Expected behavior**

A clear and concise description of what you would expect to happen.


**Your system (please complete the following information):**
N/A

**Additional context**
Just wondering if the grading system should take into account the Forward Secrecy result.  SSL Labs downgrade to a maximum of a B is Forward Secrecy is not configured.  

https://blog.qualys.com/product-tech/2018/02/02/forward-secrecy-authenticated-encryption-and-robot-grading-update

Not sure if this should be done.  Just noticed the difference between this and SSL labs and wondering if this should be improved/modified to account for this?


@magnuslarsen : could you comment on this?

Hmm it is indeed in the [docs](https://github.com/ssllabs/research/wiki/SSL-Server-Rating-Guide#changes-in-2009p-1-march-2018---6-september-2018) (second bullet)

I might have missed it prior, though I've not dug into the code yet

[I did add it](https://github.com/testssl/testssl.sh/blob/5719fccc93ed68ba74f2823fe87b42a5bdc5645a/testssl.sh#L10787)!

Though we might need to catch it better?



Hmm, the logic in itself (``  if [[ $sclient_success -ne 0 ]]; then`` no FS, otherwise displaying _FS is offered (OK)_ ) seems fine to me. But honestly I can't tell for sure what the content of that variable is, as it is changing / is ephemeral and does describe a fixed status like ``fs_offered``. OTOH and realistically people would have complained by now if it says _FS is offered (OK)_ and there are no ciphers.

Best is if @gooseleggs provides an example. Difficult to find a host which has no FS these days -- also with a rating better then B,

Sorry - should have put in some output.  Here is the output of the run...  I am looking at the ` Forward Secrecy strong encryption (AEAD ciphers)` string, but I see further down that it says `FS is offered (OK)` now.  Running this on SSLLabs.com, I get grade capped at 'B': `This server does not support Forward Secrecy with the reference browsers. Grade capped to B.  [MORE INFO »](https://blog.qualys.com/ssllabs/2018/02/02/forward-secrecy-authenticated-encryption-and-robot-grading-update)`

So I suppose both are correct, but what/who is more correct?

```
#####################################################################
  testssl.sh version 3.2.0 from https://testssl.sh/
  (5719fccc 2025-05-06 09:51:06)

  This program is free software. Distribution and modification under
  GPLv2 permitted. USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!

  Please file bugs @ https://testssl.sh/bugs/
#####################################################################

  Using OpenSSL 1.0.2-bad (Mar 28 2025)  [~179 ciphers]
  on Server2:./bin/openssl.Linux.x86_64

 Start 2025-05-07 06:12:06        -->> *.*.*.*:443 (host.REPLACED) <<--

 rDNS (210.55.148.50):   ******
 Service detected:       HTTP

 Testing protocols via sockets except NPN+ALPN 

 SSLv2      not offered (OK)
 SSLv3      not offered (OK)
 TLS 1      not offered
 TLS 1.1    not offered
 TLS 1.2    offered (OK)
 TLS 1.3    not offered and downgraded to a weaker protocol
 NPN/SPDY   not offered
 ALPN/HTTP2 not offered

 Testing cipher categories 

 NULL ciphers (no encryption)                      not offered (OK)
 Anonymous NULL Ciphers (no authentication)        not offered (OK)
 Export ciphers (w/o ADH+NULL)                     not offered (OK)
 LOW: 64 Bit + DES, RC[2,4], MD5 (w/o export)      not offered (OK)
 Triple DES Ciphers / IDEA                         not offered
 Obsoleted CBC ciphers (AES, ARIA etc.)            offered
 Strong encryption (AEAD ciphers) with no FS       offered (OK)
 Forward Secrecy strong encryption (AEAD ciphers)  not offered


 Testing server's cipher preferences 

Hexcode  Cipher Suite Name (OpenSSL)       KeyExch.   Encryption  Bits     Cipher Suite Name (IANA/RFC)
-----------------------------------------------------------------------------------------------------------------------------
SSLv2
 - 
SSLv3
 - 
TLSv1
 - 
TLSv1.1
 - 
TLSv1.2 (server order)
 xc028   ECDHE-RSA-AES256-SHA384           ECDH 521   AES         256      TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384              
 xc027   ECDHE-RSA-AES128-SHA256           ECDH 521   AES         128      TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256              
 x9d     AES256-GCM-SHA384                 RSA        AESGCM      256      TLS_RSA_WITH_AES_256_GCM_SHA384                    
 x9c     AES128-GCM-SHA256                 RSA        AESGCM      128      TLS_RSA_WITH_AES_128_GCM_SHA256                    
 x3d     AES256-SHA256                     RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA256                    
 x3c     AES128-SHA256                     RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA256                    
TLSv1.3
 - 

 Has server cipher order?     yes (OK)


 Testing robust forward secrecy (FS) -- omitting Null Authentication/Encryption, 3DES, RC4 

 FS is offered (OK)           ECDHE-RSA-AES256-SHA384 ECDHE-RSA-AES128-SHA256 
 Elliptic curves offered:     prime256v1 secp384r1 secp521r1 
 TLS 1.2 sig_algs offered:    RSA+SHA1 RSA+SHA256 

 Testing server defaults (Server Hello) 

 TLS extensions (standard)    "status request/#5" "extended master secret/#23"
                              "renegotiation info/#65281"
 Session Ticket RFC 5077 hint no -- no lifetime advertised
 SSL Session ID support       yes
 Session Resumption           Tickets no, ID: no
 TLS clock skew               -1 sec from localtime
 Client Authentication        none
 Signature Algorithm          SHA256 with RSA
 Server key size              RSA 2048 bits (exponent is 65537)
 Server key usage             Digital Signature, Key Encipherment
 Server extended key usage    TLS Web Server Authentication, TLS Web Client Authentication
 Serial                       0170A9B67311B3833E7D9FB1990629A4 (OK: length 16)
 Fingerprints                 SHA1 B35009D5E4617D689C2D69CE89CCB186F83B4A0C
                              SHA256 3DB18D5DE4BA71E265A070446A4DE71D63CCBB2986A1C801FDA04023CF8C801B
 Common Name (CN)             *.REPLACED 
 subjectAltName (SAN)         *.REPLACED REPLACED 
 Trust (hostname)             Ok via SAN wildcard and CN wildcard (same w/o SNI)
                              wildcard certificate could be problematic, see other hosts at
                              https://search.censys.io/search?resource=hosts&virtual_hosts=INCLUDE&q=3DB18D5DE4BA71E265A070446A4DE71D63CCBB2986A1C801FDA04023CF8C801B
 Chain of trust               Ok   
 EV cert (experimental)       no 
 Certificate Validity (UTC)   151 >= 60 days (2024-11-08 00:00 --> 2025-10-04 23:59)
 ETS/"eTLS", visibility info  not present
 Certificate Revocation List  http://crl3.digicert.com/RapidSSLGlobalTLSRSA4096SHA2562022CA1.crl
                              http://crl4.digicert.com/RapidSSLGlobalTLSRSA4096SHA2562022CA1.crl
 OCSP URI                     http://ocsp.digicert.com
 OCSP stapling                offered, not revoked
 OCSP must staple extension   --
 DNS CAA RR (experimental)    not offered
 Certificate Transparency     yes (certificate extension)
 Certificates provided        2
 Issuer                       RapidSSL Global TLS RSA4096 SHA256 2022 CA1 (DigiCert, Inc. from US)
 Intermediate cert validity   #1: ok > 40 days (2031-11-09 23:59). RapidSSL Global TLS RSA4096 SHA256 2022 CA1 <-- 
 Intermediate Bad OCSP (exp.) Ok


 Testing HTTP header response @ "/" 

 HTTP Status Code             200 OK
 HTTP clock skew              0 sec from localtime
 Strict Transport Security    60 s = 0 days is too short ( >= 15552000 seconds recommended), includeSubDomains
 Public Key Pinning           --
 Server banner                exists but empty string
 Application banner           --
 Cookie(s)                    (none issued at "/")
 Security headers             X-Content-Type-Options: nosniff
                              Content-Security-Policy: default-src https: 'unsafe-inline'
                                'unsafe-eval'
                              Permissions-Policy: accelerometer=(), ambient-light-sensor=(),
                                autoplay=(), battery=(), camera=(), cross-origin-isolated=(),
                                display-capture=(), document-domain=(), encrypted-media=(),
                                execution-while-not-rendered=(),
                                execution-while-out-of-viewport=(), fullscreen=*, geolocation=(),
                                gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(),
                                midi=(), navigation-override=(), payment=(), picture-in-picture=(),
                                publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(),
                                usb=(), web-share=(), xr-spatial-tracking=()
                              Permissions-Policy: accelerometer=(), ambient-light-sensor=(),
                                autoplay=(), battery=(), camera=(), cross-origin-isolated=(),
                                display-capture=(), document-domain=(), encrypted-media=(),
                                execution-while-not-rendered=(),
                                execution-while-out-of-viewport=(), fullscreen=*, geolocation=(),
                                gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(),
                                midi=(), navigation-override=(), payment=(), picture-in-picture=(),
                                publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(),
                                usb=(), web-share=(), xr-spatial-tracking=()
                              Referrer-Policy: no-referrer
 Reverse Proxy banner         --


 Testing vulnerabilities 

 Heartbleed (CVE-2014-0160)                not vulnerable (OK), no heartbeat extension
 CCS (CVE-2014-0224)                       not vulnerable (OK)
 Ticketbleed (CVE-2016-9244), experiment.  not vulnerable (OK), no session ticket extension
 ROBOT                                     not vulnerable (OK)
 Secure Renegotiation (RFC 5746)           supported (OK)
 Secure Client-Initiated Renegotiation     not vulnerable (OK)
 CRIME, TLS (CVE-2012-4929)                not vulnerable (OK)
 BREACH (CVE-2013-3587)                    no gzip/deflate/compress/br HTTP compression (OK)  - only supplied "/" tested
 POODLE, SSL (CVE-2014-3566)               not vulnerable (OK), no SSLv3 support
 TLS_FALLBACK_SCSV (RFC 7507)              No fallback possible (OK), no protocol below TLS 1.2 offered
 SWEET32 (CVE-2016-2183, CVE-2016-6329)    not vulnerable (OK)
 FREAK (CVE-2015-0204)                     not vulnerable (OK)
 DROWN (CVE-2016-0800, CVE-2016-0703)      not vulnerable on this host and port (OK)
                                           make sure you don't use this certificate elsewhere with SSLv2 enabled services, see
                                           https://search.censys.io/search?resource=hosts&virtual_hosts=INCLUDE&q=3DB18D5DE4BA71E265A070446A4DE71D63CCBB2986A1C801FDA04023CF8C801B
 LOGJAM (CVE-2015-4000), experimental      not vulnerable (OK): no DH EXPORT ciphers, no DH key detected with <= TLS 1.2
 BEAST (CVE-2011-3389)                     not vulnerable (OK), no SSL3 or TLS1
 LUCKY13 (CVE-2013-0169), experimental     potentially VULNERABLE, uses cipher block chaining (CBC) ciphers with TLS. Check patches
 Winshock (CVE-2014-6321), experimental    not vulnerable (OK) - GCM rollup ciphers found
 RC4 (CVE-2013-2566, CVE-2015-2808)        no RC4 ciphers detected (OK)


 Running client simulations (HTTP) via sockets 

 Browser                      Protocol  Cipher Suite Name (OpenSSL)       Forward Secrecy
------------------------------------------------------------------------------------------------
 Android 7.0 (native)         TLSv1.2   AES256-GCM-SHA384                 No FS
 Android 8.1 (native)         TLSv1.2   AES256-GCM-SHA384                 No FS
 Android 9.0 (native)         TLSv1.2   AES256-GCM-SHA384                 No FS
 Android 10.0 (native)        TLSv1.2   AES256-GCM-SHA384                 No FS
 Android 11/12 (native)       TLSv1.2   AES256-GCM-SHA384                 No FS
 Android 13/14 (native)       TLSv1.2   AES256-GCM-SHA384                 No FS
 Chrome 101 (Win 10)          TLSv1.2   AES256-GCM-SHA384                 No FS
 Chromium 137 (Win 11)        TLSv1.2   AES256-GCM-SHA384                 No FS
 Firefox 100 (Win 10)         TLSv1.2   AES256-GCM-SHA384                 No FS
 Firefox 137 (Win 11)         TLSv1.2   AES256-GCM-SHA384                 No FS
 IE 8 Win 7                   No connection
 IE 11 Win 7                  TLSv1.2   ECDHE-RSA-AES256-SHA384           384 bit ECDH (P-384)
 IE 11 Win 8.1                TLSv1.2   ECDHE-RSA-AES256-SHA384           384 bit ECDH (P-384)
 IE 11 Win Phone 8.1          TLSv1.2   ECDHE-RSA-AES128-SHA256           384 bit ECDH (P-384)
 IE 11 Win 10                 TLSv1.2   ECDHE-RSA-AES256-SHA384           384 bit ECDH (P-384)
 Edge 15 Win 10               TLSv1.2   ECDHE-RSA-AES256-SHA384           384 bit ECDH (P-384)
 Edge 101 Win 10 21H2         TLSv1.2   AES256-GCM-SHA384                 No FS
 Edge 133 Win 11 23H2         TLSv1.2   AES256-GCM-SHA384                 No FS
 Safari 18.4 (iOS 18.4)       TLSv1.2   AES256-GCM-SHA384                 No FS
 Safari 15.4 (macOS 12.3.1)   TLSv1.2   AES256-GCM-SHA384                 No FS
 Safari 18.4 (macOS 15.4)     TLSv1.2   AES256-GCM-SHA384                 No FS
 Java 7u25                    No connection
 Java 8u442 (OpenJDK)         TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 Java 11.0.2 (OpenJDK)        TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 Java 17.0.3 (OpenJDK)        TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 Java 21.0.6 (OpenJDK)        TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 go 1.17.8                    TLSv1.2   AES256-GCM-SHA384                 No FS
 LibreSSL 3.3.6 (macOS)       TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 OpenSSL 1.0.2e               TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 OpenSSL 1.1.1d (Debian)      TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 OpenSSL 3.0.15 (Debian)      TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 OpenSSL 3.5.0 (git)          TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 Apple Mail (16.0)            TLSv1.2   ECDHE-RSA-AES256-SHA384           521 bit ECDH (P-521)
 Thunderbird (91.9)           TLSv1.2   AES256-GCM-SHA384                 No FS


 Rating (experimental) 

 Rating specs (not complete)  SSL Labs's 'SSL Server Rating Guide' (version 2009q from 2020-01-30)
 Specification documentation  https://github.com/ssllabs/research/wiki/SSL-Server-Rating-Guide
 Protocol Support (weighted)  100 (30)
 Key Exchange     (weighted)  90 (27)
 Cipher Strength  (weighted)  90 (36)
 Final Score                  93
 Overall Grade                A
 Grade cap reasons            Grade capped to A. HSTS max-age is too short

 Done 2025-05-07 06:13:21 [  78s] -->> <<--
```



* The server side supports forward secrecy with two ECDHE ciphers, that's why the output said _FS is offered (OK)_   : ECDHE-RSA-AES256-SHA384 / ECDHE-RSA-AES128-SHA256 => TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 / TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA256 . So that's why testssl.sh correctly doesn't penalize it.
* CBC is not a strong cipher though, that's why the output said _Forward Secrecy strong encryption (AEAD ciphers)  **not** offered_ .  Both combined could have been misleading. However that was SSLlabs' point, as you cited (https://blog.qualys.com/ssllabs/2018/02/02/forward-secrecy-authenticated-encryption-and-robot-grading-update). Seems like we haven't implemented that 100% correctly.

 

Off the top of my head it would be the easiest to use the result from _Testing cipher categories_  --> _Forward Secrecy strong encryption (AEAD ciphers)_ . But  if that section is not run, users won't get the grading.

More --> code

I find it hit and miss with what sections need to run to get the code anyway (just from a users point of view).  Normally if I cut down from running all of the tests the grades disappear.

> Normally if I cut down from running all of the tests the grades disappear.

Yeah, that's the logical consequence of not scanning completely.