TLSv1 and TLSv1.1 detection

`testssl.sh -t imap imap.posteo.de:143` shows that TLS 1 and TLS 1.1 are not offered, 
`testssl.sh -t imap mail.aegee.org:143` shows for TLS 1 and TLS 1.1 Fixme: unexpected value around line 4905/4976, rerun w DEBUG>=2 or --ssl-native

`./bin/openssl.Linux.x86_64 s_client -starttls imap -tls1 -connect imap.posteo.de:143`, `./bin/openssl.Linux.x86_64 s_client -starttls imap -tls1_1 -connect imap.posteo.de:143` and `./bin/openssl.Linux.x86_64 s_client -starttls imap -tls1_2 -connect imap.posteo.de:143` work.

`./bin/openssl.Linux.x86_64 s_client -starttls imap -tls1 -connect mail.aegee.org:143` and `./bin/openssl.Linux.x86_64 s_client -starttls imap -tls1_1 -connect mail.aegee.org:143` do not work (25135168:error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number:s3_pkt.c:362:), `./bin/openssl.Linux.x86_64 s_client -starttls imap -tls1_2 -connect mail.aegee.org:143` works.

Find out why for TLS1.0 and TLS1.1 testssl.sh states that imap.posteo.de:143 do not support them, for mail.aegee.org:143 fails to find out whether they are supported, but 'openssl s_client' states that imap.posteo.de:143 supports TLS1 and TLS1.1, while mail.aegee.org:143 does not.

@dilyanpalauzov : Thanks! 

Please review the input. You can as well add other details of your imapd like version and ``SSL_CTX_set_options(context, SSL_OP_NO_TLSv1)`` ``SSL_CTX_set_cipher_list(context, "!TLSv1");``
so that is not only for me 

`gnutls-cli-debug -p 143 --starttls-proto imap imap.posteo.de` prints:
```
GnuTLS debug client 3.5.18
Checking imap.posteo.de:143
                             for SSL 3.0 (RFC6101) support... no
                        whether we need to disable TLS 1.2... no
                        whether we need to disable TLS 1.1... no
                        whether we need to disable TLS 1.0... no
                        whether %NO_EXTENSIONS is required... no
                               whether %COMPAT is required... no
                             for TLS 1.0 (RFC2246) support... yes
                             for TLS 1.1 (RFC4346) support... yes
                             for TLS 1.2 (RFC5246) support... yes
                                  fallback from TLS 1.6 to... TLS1.2
...
```
so gnutls also thinks imap.posteo.de:143 offers TLS 1 and TLS 1.1.  `gnutls-cli-debug -p 143 --starttls-proto imap mail.aegee.org` prints:
```
GnuTLS debug client 3.5.18
Checking mail.aegee.org:143
|<1>| Received record packet of unknown type 97
                             for SSL 3.0 (RFC6101) support... no
                        whether we need to disable TLS 1.2... no
                        whether we need to disable TLS 1.1... no
                        whether we need to disable TLS 1.0... no
                        whether %NO_EXTENSIONS is required... no
                               whether %COMPAT is required... no
|<1>| Received record packet of unknown type 97
                             for TLS 1.0 (RFC2246) support... no
|<1>| Received record packet of unknown type 97
                             for TLS 1.1 (RFC4346) support... no
|<1>| Received record packet of unknown type 97
                                  fallback from TLS 1.1 to... failed
                             for TLS 1.2 (RFC5246) support... yes
                                  fallback from TLS 1.6 to... TLS1.2
...
```
I asked at gnutls-help@lists.gnutls.org about `|<1>| Received record packet of unknown type 97` - check the [archives](https://lists.gnutls.org/pipermail/gnutls-help/) from June and July 2018. (No answer as of this writing).

The server runs openssl 1.0.2o and sets SSL_CTX_set_options(context, SSL_OP_NO_TLSv1) but not SSL_CTX_set_cipher_list(context, "!TLSv1").  The cipher suite is " EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH !aNULL !eNULL !LOW -3DES !MD5 !EXP !PSK -SRP !DSS !RC4 !EDH", server decides on order.

`openssl s_client -msg -connect mail.aegee.org:143 -tls1 -starttls imap` prints:
```
CONNECTED(00000003)
>>> ??? [length 0005]
    16 03 01 00 c2
>>> TLS 1.0 Handshake [length 00c2], ClientHello
    01 00 00 be 03 01 d5 75 8e 8a 53 8f f6 63 46 a9
    bc 54 24 5b 18 3c 9d af 51 94 08 67 71 be 35 6d
    bd 48 ff 9a cd 25 00 00 64 c0 14 c0 0a 00 39 00
    38 00 37 00 36 00 88 00 87 00 86 00 85 c0 0f c0
    05 00 35 00 84 c0 13 c0 09 00 33 00 32 00 31 00
    30 00 9a 00 99 00 98 00 97 00 45 00 44 00 43 00
    42 c0 0e c0 04 00 2f 00 96 00 41 00 07 c0 11 c0
    07 c0 0c c0 02 00 05 00 04 c0 12 c0 08 00 16 00
    13 00 10 00 0d c0 0d c0 03 00 0a 00 ff 01 00 00
    31 00 0b 00 04 03 00 01 02 00 0a 00 1c 00 1a 00
    17 00 19 00 1c 00 1b 00 18 00 1a 00 16 00 0e 00
    0d 00 0b 00 0c 00 09 00 0a 00 23 00 00 00 0f 00
    01 01
<<< ??? [length 0005]
    2e 20 4e 4f 20
>>> ??? [length 0005]
    15 03 01 00 02
>>> TLS 1.0 Alert [length 0002], fatal protocol_version
    02 46
139811653486224:error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number:s3_pkt.c:365:
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 834 bytes and written 7 bytes
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
No ALPN negotiated      
SSL-Session:
    Protocol  : TLSv1
    Cipher    : 0000
    Session-ID: 
    Session-ID-ctx: 
    Master-Key: 
    Key-Arg   : None
    PSK identity: None
    PSK identity hint: None
    SRP username: None
    Start Time: 1530738339
    Timeout   : 7200 (sec)
    Verify return code: 0 (ok)
---
```
So there is alert 46 (in HEX) = protocol_version(70 in decimal) from enum
AlertDescription (from RFC2246 = The TLS Protocol Version 1.0).

The output of openssl s_client -msg does not change ff I insert or remove !TLSv1 to the ciphers, except this
```diff
@@ -2,9 +2,9 @@
 >>> ??? [length 0005]
     16 03 01 00 c2
 >>> TLS 1.0 Handshake [length 00c2], ClientHello
-    01 00 00 be 03 01 a4 68 c3 8e 82 72 ff 80 0e 5e
-    0f 5e fd 5a 8c bd 17 14 6f f0 9a f9 71 f6 e0 d3
-    85 ab e4 8d 5e 03 00 00 64 c0 14 c0 0a 00 39 00
+    01 00 00 be 03 01 c2 22 37 ae fd 01 89 9d 19 26
+    7d 25 ef ee 40 03 7d f8 3f b4 f2 1d 5d 92 0a fe
+    95 b5 4e e7 ce 47 00 00 64 c0 14 c0 0a 00 39 00
     38 00 37 00 36 00 88 00 87 00 86 00 85 c0 0f c0
     05 00 35 00 84 c0 13 c0 09 00 33 00 32 00 31 00
     30 00 9a 00 99 00 98 00 97 00 45 00 44 00 43 00
@@ -41,7 +41,7 @@
     PSK identity: None
     PSK identity hint: None
     SRP username: None
-    Start Time: 1530740407
+    Start Time: 1530740332
     Timeout   : 7200 (sec)
     Verify return code: 0 (ok)
 ---
```

Will be there any progress on this in reasonable time?

I found this error, when I disabled TLSv1 on my server and wanted to verify, that TLSv1 was disabled, and the verification failed.

On the way to TLSv1.2 and TLSv1.3-only connections, where TLSv1.0 is disabled, administrators need a way to verify reliably that v1.0 is switched off.  This switch off can be done first for small sites, and once no problems appear also bigger sites can disable TLSv1.

Hi Dilyan,

**testssl.sh:** posteo works as expected. For your host it does a fallback to plaintext which needed to be handled. 

A kind request: If you post examples, please make them c&p-safe so that one can just run them.

Cheers, Dirk

Dilyan, auctually I don't care so much what openssl says.

I do care what  ``./testssl.sh -p --debug=4 -t imap <IMAPHOSTHERE>:143`` says. That looks pretty ok for posteo.

When I delete the SSLv2 checks, the lines between 'pr_bold " SSLv2      ";' and 'pr_bold " SSLv3      ";', running ` ./testssl.sh -p -t imap --ssl-native mail.aegee.org:143` prints "SSLv3  Not offered", while `./testssl.sh -p -t imap --ssl-native mail.aegee.org:143` prints "SSLv3 Fixme: unexpected value around line 4841".  So the problem does not happen, when openssl is used.


`./testssl.sh -t imap -p mail.aegee.org:143` calls during the SSLv3 check tls_sockets() →prepare_tls_clienthello() →socksend_clienthello() with parameters
```
     # TLS header ( 5 bytes)
     ,16, 03, 00  # TLS Version: in wireshark this is always 01 for TLS 1.0-1.2
     ,00, cb            # Length  <---
     # Handshake header:
     ,01                      # Type (x01 for ClientHello)
     ,00, 00, c7    # Length ClientHello
     ,03, 00 # TLS version ClientHello
     ,54, 51, 1e, 7a          # Unix time since  see www.moserware.com/2009/06/first-few-milliseconds-of-https.html
     ,de, ad, be, ef          # Random 28 bytes
     ,31, 33, 07, 00, 00, 00, 00, 00
     ,cf, bd, 39, 04, cc, 16, 0b, 85
     ,03, 90, 9f, 77, 04, 33, d4, de

     ,00, a0    # Cipher suites length
     ,c0\x14\xc0\x0a\xc0\x22\xc0\x21\xc0\x20\x00\x39\x00\x38\x00\x37\x00\x36\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x0f\xc0\x05\x00\x35\x00\x84\xc0\x13\xc0\x09\\
xc0\x1f\xc0\x1e\xc0\x1d\x00\x33\x00\x32\x00\x80\x00\x81\x00\x82\x00\x83\x00\x31\x00\x30\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x45\x00\x44\x00\x43\x00\x42\xc0\x\
0e\xc0\x04\x00\x2f\x00\x96\x00\x41\x00\x07\xc0\x11\xc0\x07\x00\x66\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\xc0\x1c\xc0\x1b\xc0\x1a\x00\x16\x00\x13\x0\
0\x10\x00\x0d\xc0\x0d\xc0\x03\x00\x0a\x00\x63\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x62\x00\x09\x00\x65\x00\x64\x00\x14\x00\x11\x00\x0e\x00\x0b\x00\x08\x00\x06\
\x00\x03\x00\xff
     ,01,00

"\x16\x03\x00\x00\xcb\x01\x00\x00\xc7\x03\x00\x54\x51\x1e\x7a\xde\xad\xbe\xef\x31\x33\x07\x00\x00\x00\x00\x00\xcf\xbd\x39\x04\xcc\x16\x0b\x85\x03\x90\x9f\x77\
\x04\x33\xd4\xde\x00\x00\xa0\xc0\x14\xc0\x0a\xc0\x22\xc0\x21\xc0\x20\x00\x39\x00\x38\x00\x37\x00\x36\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x0f\xc0\x05\x00\x35\\
x00\x84\xc0\x13\xc0\x09\xc0\x1f\xc0\x1e\xc0\x1d\x00\x33\x00\x32\x00\x80\x00\x81\x00\x82\x00\x83\x00\x31\x00\x30\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x45\x00\x\
44\x00\x43\x00\x42\xc0\x0e\xc0\x04\x00\x2f\x00\x96\x00\x41\x00\x07\xc0\x11\xc0\x07\x00\x66\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\xc0\x1c\xc0\x1b\xc\
0\x1a\x00\x16\x00\x13\x00\x10\x00\x0d\xc0\x0d\xc0\x03\x00\x0a\x00\x63\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x62\x00\x09\x00\x65\x00\x64\x00\x14\x00\x11\x00\x0e\
\x00\x0b\x00\x08\x00\x06\x00\x03\x00\xff\x01\x00"
```
on which the server answers with `a002 NO Starttls negotiation failed`.  Maybe I miss something in the communication between server and client, but "a002 NO Starttls negotiation failed" implies, that SSLv3 is not supported.

yes, see https://github.com/drwetter/testssl.sh/issues/1082#issuecomment-430911010 and private communication ~3.5 months ago