[BUG] HSTS header parsing does not accept spaces between directives 

I am running version 
```
./testssl.sh -v | grep from
    testssl.sh       3.2rc3 from https://testssl.sh/dev/

```

A site that returns a HSTS header with spaces between directives gets reported as a misconfigured HSTS header.
e.g.
```
Strict-Transport-Security: max-age=31536000 ; includeSubDomains
```

**Expected Behaviour**
The header above is valid as per RFC6797, and should have passed the test.

**Additional Context**
Debug log shows:
```
|2726>  run_hsts(): hsts_age_sec='31536000 ; includeSubDomains'
|2727>  run_hsts(): hsts_age_sec='31536000 '
|2728>  run_hsts(): [[ 31536000  =~ " ]]
|2733>  run_hsts(): debugme echo 'hsts_age_sec: 31536000 '
|815>   debugme(): [[ 0 -ge 2 ]]
|816>   debugme(): return 0
|2734>  run_hsts(): is_number '31536000 '
|879>   is_number(): [[ 31536000  =~ ^[1-9][0-9]*$ ]]
|881>   is_number(): return 1
```

The following patch should fix the issue:
```
diff --git a/testssl.sh b/testssl.sh
index 99cc71b..a0d5578 100755
--- a/testssl.sh
+++ b/testssl.sh
@@ -2724,6 +2724,7 @@ run_hsts() {
           # strict parsing now as suggested in #2381
           hsts_age_sec="${HEADERVALUE#*=}"
           hsts_age_sec=${hsts_age_sec%%;*}
+          hsts_age_sec=$(strip_trailing_space "$hsts_age_sec")
           if [[ $hsts_age_sec =~ \" ]]; then
                # remove first an last " in $hsts_age_sec (borrowed from strip_trailing_space/strip_leading_space):
                hsts_age_sec=$(printf "%s" "${hsts_age_sec#"${hsts_age_sec%%[!\"]*}"}")
```

Sorry for getting that late back to you.

I was just scratching my head why I haven´t fixed this one. As reading the RFC6797 I remember I had a question which I didn't ask...

When I follow strictly the RFC [it says](https://www.rfc-editor.org/rfc/rfc6797#section-6.1.1) : 

_The syntax of the max-age directive's REQUIRED value (after quoted-string unescaping, if necessary) is defined as:_

     max-age-value = delta-seconds

_delta-seconds = <1*DIGIT, defined in [[RFC2616], Section 3.3.2](https://www.rfc-editor.org/rfc/rfc2616#section-3.3.2)_
 

[RFC2616, Section 3.3.2](https://www.rfc-editor.org/rfc/rfc2616#section-3.3.2) says: 

_Some HTTP header fields allow a time value to be specified as an  integer number of seconds, represented in decimal, after the time that the message was received._ 

      delta-seconds  = 1*DIGIT


[RFC2616, Section 2.2](https://www.rfc-editor.org/rfc/rfc2616#section-2.2) says: 

     DIGIT          = <any US-ASCII digit "0".."9">
     

Where did I miss that that a space (only 0x20?) is allowed . And for which position does this apply to? Only trailing or also leading?





Second example at section 6.2 of the RFC includes a space (see https://datatracker.ietf.org/doc/html/rfc6797#section-6.2)

I think the key thing to note is implied linear whitespace.

yeah, found that too, But I considered this only to be an example. 

Yesterday I found also something here: https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.4  and [RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110), [RFC 9112](https://datatracker.ietf.org/doc/html/rfc9112). I left off  scratching my head as OBS/OWS seems to include a vertical tab too.  Also using a trailing space before he colon, i.e. after the key, is not allowed (_No whitespace is allowed between the header field-name and colon.  In the past, differences in the handling of such whitespace have led to  security vulnerabilities in request routing and response handling_).

Probably it's the best for now we just follow your suggestion and work on the rest later. 

Mind submitting a PR?