cert_trust false positive on wildcard cert + underscore in subdomain name



   
1. testssl version from the banner (testssl.sh -b 2>/dev/null | head -4 | tail -2)

 testssl.sh       2.9dev from https://testssl.sh/dev/

2. what exactly was happening, output is needed

Two different DNS entries pointing to the same server.
Server has a wildcard cert.
One has an underscore in the subdomain, the other doesn't.
One gives a cert_trust error, the other doesn't.

In JSON output for MY_SUBDOMAIN.MYDOMAIN.com:
,         {
              "id"           : "cert_trust",
              "ip"           : "MY_SUBDOMAIN.MYDOMAIN.com/MY_IP_ADDRESS",
              "port"         : "443",
              "severity"     : "HIGH",
              "finding"      : "certificate does not match supplied URI (same w/o SNI)"
          }
In JSON output for MYSUBDOMAIN.MYDOMAIN.com:
,         {
              "id"           : "cert_trust",
              "ip"           : "MYSUBDOMAIN.MYDOMAIN.com/MY_IP_ADDRESS",
              "port"         : "443",
              "severity"     : "OK",
              "finding"      : "Ok via SAN wildcard and CN wildcard (same w/o SNI)"
          }

Since they both point to the same server, the only difference between the two is an underscore in the subdomain name.

3. what did you expect instead?

Results should be identical.  I believe the error is a false positive.

4. steps to reproduce

   1. testssl.sh command line

sudo bash ./testssl.sh --jsonfile output_underscore.json my_subdomain.mydomain.com
sudo bash ./testssl.sh --jsonfile output_no_underscore.json mysubdomain.mydomain.com

    1. if possible: target IP

Sorry, can't!  Taking test servers down momentarily.
 
    1. openssl version used (testssl.sh -b 2>/dev/null | head -16 | tail -3)

  Using "OpenSSL 1.0.2-chacha (1.0.2i-dev)" [~183 ciphers]
 on ip-172-31-44-222:./bin/openssl.Linux.x86_64
 (built: "Jun 22 19:32:29 2016", platform: "linux-x86_64")

    1. your operating system (uname -a)

Linux ip-172-31-44-222.us-west-2.compute.internal 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Hi @dangerbacon ,

I believe you are correct that the matching routine will not work correctly if the hostname or the name in the certificate contains any characters other than 'a' - 'z', 'A' - 'Z', '0' - '9', '-', or '.' However, according to https://en.wikipedia.org/wiki/Hostname, these are the only characters that may appear in a hostname:

> 
> The Internet standards (Requests for Comments) for protocols mandate that component hostname labels may contain only the ASCII letters 'a' through 'z' (in a case-insensitive manner), the digits '0' through '9', and the minus sign ('-'). The original specification of hostnames in RFC 952, mandated that labels could not start with a digit or with a minus sign, and must not end with a minus sign. However, a subsequent specification (RFC 1123) permitted hostname labels to start with digits. No other symbols, punctuation characters, or white space are permitted.
> 
> While a hostname may not contain other characters, such as the underscore character (_), other DNS names may contain the underscore. Systems such as DomainKeys and service records use the underscore as a means to assure that their special character is not confused with hostnames. For example, _http._sctp.www.example.com specifies a service pointer for an SCTP capable webserver host (www) in the domain example.com. Notwithstanding the standard, Chrome, Firefox, Internet Explorer/Edge and Safari all actually allow underscores in hostnames although cookies in IE won't work correctly if any part of the hostname contains an underscore character.

[ RFC 5280](https://tools.ietf.org/html/rfc5280), Internet X.509 Public Key Infrastructure Certificate and Certificate Revocation List (CRL) Profile, also says that DNS names that appear in certificates cannot contain underscore characters.

> When the subjectAltName extension contains a domain name system label, the domain name MUST be stored in the dNSName (an IA5String).  The name MUST be in the "preferred name syntax", as specified by Section 3.5 of [RFC1034] and as modified by Section 2.1 of [RFC1123].

[RFC 1034](https://tools.ietf.org/html/rfc1034) and [RFC 1123](https://tools.ietf.org/html/rfc1123) are consistent with the description provided by Wikipedia.

Given that browsers seem to accept (non-standard) host names that contain underscore characters, perhaps testssl.sh should be changed to work with domain name labels that contain underscore characters. Use of such names may create some problems, but the problem isn't related to TLS.

Any thoughts @drwetter ?

makes sense, thanks a lot for the thoughts you put into this! Wondering though whether we shouldn't issue a warning. OTOH if browsers don't complain either...

@dangerbacon : can you please give it a try? 


I gave it a try, but didn't fix the problem.

I think there are two more regex locations in wildcard_match that need to be changed:

This one:
`basename="$(echo -n "$certname" | sed 's/^[A-Z0-9\-]*\*//')"`
to
`basename="$(echo -n "$certname" | sed 's/^[_A-Z0-9\-]*\*//')"`

And this one:
`[[ -n $(echo -n "${servername:len_part1:len_wildcard}" | sed 's/^[A-Z0-9\-]*//') ]] && return 1`
to
`[[ -n $(echo -n "${servername:len_part1:len_wildcard}" | sed 's/^[_A-Z0-9\-]*//') ]] && return 1`

should work now