TLS 1.3

> > Just wondering whether it makes sense to have a test for TLS 1.3. Is there any server out there yet?
> 
> None that I've been able to test against. https://github.com/tlswg/tls13-spec/wiki/Implementations mentions two servers that supposedly implement some draft version of TLS 1.3 (not the latest draft), but neither of them work for me. When I try tls13.cloudflare.com, it downgrades to TLS 1.2, and tls13.crypto.mozilla.org seem to support SSL/TLS at all.

> I think it's too early to try to add a specific check for TLS 1.3. https://tls13.cloudflare.com claims to support browsers that implement TLS 1.3 draft 13, but any time I try to connect I get TLS 1.2 in the response. I even have a local copy of testssl.sh in which I have tried to implement the ClientHello according to draft-ietf-tls-tls13, but https://tls13.cloudflare.com responds to the ClientHello with TLS 1.2.

This is a continuation of the discussion in PR #346; I'm just moving it to a new issue since PR #346 is closed.

It turns out that the nightly builds of Firefox include support for TLS 1.3 (if security.tls.version.max is changed to 4). I used it to successfully connect to https://tris.filippo.io and https://tls13.cloudflare.com with (draft) TLS 1.3, and by capturing the transaction discovered that I was incorrectly formatting the key_share extension in my attempt to do a TLS 1.3 ClientHello in tls_sockets. I've now corrected the error and am able to connect to both https://tris.filippo.io and https://tls13.cloudflare.com with TLS 1.3 using https://github.com/dcooper16/testssl.sh/blob/extended_tls_sockets/testssl.sh (although tls13.cloudflare.com doesn't always work).

I went ahead and added a specific test for TLS 1.3, since tls13.cloudflare.com connects with TLS 1.3 if the ClientHello specifies TLS 1.3, but connects with TLS 1.2 if the ClientHello specifies TLS 1.2.
This shouldn't be incorporated into testssl.sh until TLS 1.3 is final, but it is available to use for testing.

```
 Start 2016-07-27 10:15:26    -->> 46.105.167.249:443 (tris.filippo.io) <<--

 rDNS (46.105.167.249):  --
 Service detected:       HTTP


 Testing protocols (via sockets except TLS 1.2, SPDY+HTTP2) 

 SSLv2               not offered (OK)
 SSLv3               not offered (OK)
 TLS 1               offered
 TLS 1.1             offered
 TLS 1.2             offered (OK)
 TLS 1.3             server claims support for TLSv1.3, which is still a working draft (NOT ok)
 Version tolerance   server claims support for TLSv1.3, which is still a working draft (NOT ok)
 SPDY/NPN            h2, h2-14 (advertised)
 HTTP2/ALPN          Local problem: /usr/bin/openssl doesn't support HTTP2/ALPN
```

```
 Start 2016-07-27 10:19:06    -->> 104.131.157.121:443 (tls13.cloudflare.com) <<--

 rDNS (104.131.157.121): --
 Service detected:       HTTP


 Testing protocols (via sockets except TLS 1.2, SPDY+HTTP2) 

 SSLv2               not offered (OK)
 SSLv3               not offered (OK)
 TLS 1               offered
 TLS 1.1             offered
 TLS 1.2             offered (OK)
 TLS 1.3             server claims support for TLSv1.3, which is still a working draft (NOT ok)
 Version tolerance   downgraded to TLSv1.2 (OK)
 SPDY/NPN            http/1.1 (advertised)
 HTTP2/ALPN          Local problem: /usr/bin/openssl doesn't support HTTP2/ALPN
```

Once I got TLS 1.3 working I discovered a difference between TLS 1.3 and SSLv3 - TLS 1.2 that will limit the ability to use tls_sockets() with TLS 1.3. In TLS 1.3 a lot of the information in the response is encrypted. (See below - messages with content type of 0x17 are encrypted.) So, it seems that with TLS 1.3, using tls_sockets() one can find out whether the connection was successful, which cipher suite was used, and what ephemeral key was chosen, but that's about it. The server's certificate is encrypted in the response and so are all of the extensions (except key_share).

So, in functions like `run_protocols()` and `run_allciphers()` where all that's needed is whether the connection was successful and what size was the ephemeral key (if any), this won't be a problem. However, for functions that `run_server_defaults()` that need additional information (server's certificate, supported extensions), this will be a barrier the use of `tls_sockets()`.

```
TLS message fragments:
     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                183

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                23

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                2491

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                281

TLS handshake messages:
     handshake type:         0x02 (server_hello)
     msg_len:                179

TLS server hello message:
     tls_protocol:           0x0304
     tls_cipher_suite:       0xC030
     dh_bits:                ECDH, P-521, 521 bits
     tls_extensions:         "key share/#40"
```



Am 07/27/2016 um 04:36 PM schrieb David Cooper:
>         Just wondering whether it makes sense to have a test for TLS 1.3. Is there any server
>         out there yet?
> 
>     None that I've been able to test against.
>     https://github.com/tlswg/tls13-spec/wiki/Implementations mentions two servers that
>     supposedly implement some draft version of TLS 1.3 (not the latest draft), but neither of
>     them work for me. When I try tls13.cloudflare.com, it downgrades to TLS 1.2, and
>     tls13.crypto.mozilla.org seem to support SSL/TLS at all.
> 
>     I think it's too early to try to add a specific check for TLS 1.3.
>     https://tls13.cloudflare.com claims to support browsers that implement TLS 1.3 draft 13,
>     but any time I try to connect I get TLS 1.2 in the response. I even have a local copy of
>     testssl.sh in which I have tried to implement the ClientHello according to
>     draft-ietf-tls-tls13, but https://tls13.cloudflare.com responds to the ClientHello with TLS
>     1.2.
> 
> This is a continuation of the discussion in PR #346
> <https://github.com/drwetter/testssl.sh/pull/346>; I'm just moving it to a new issue since PR
> #346 <https://github.com/drwetter/testssl.sh/pull/346> is closed.
> 
> It turns out that the nightly builds of Firefox include support for TLS 1.3 (if
> security.tls.version.max is changed to 4). I used it to successfully connect to
> https://tris.filippo.io and https://tls13.cloudflare.com with (draft) TLS 1.3, and by capturing
> the transaction discovered that I was incorrectly formatting the key_share extension in my
> attempt to do a TLS 1.3 ClientHello in tls_sockets. I've now corrected the error and am able to
> connect to both https://tris.filippo.io and https://tls13.cloudflare.com with TLS 1.3 using
> https://github.com/dcooper16/testssl.sh/blob/extended_tls_sockets/testssl.sh (although
> tls13.cloudflare.com doesn't always work).

momentarily tris.filippo.io doesn't work. For tls13.cloudflare.com there's something fishy
with my devel option. I get currently not the output expected with
``./testssl.sh -q  --debug=3 --devel 04 "cc,a8, cc,a9, cc,aa, cc,ab, cc,ac" tls13.cloudflare.com``.

Your branch lists TLS 1.3 but the output seems different:
```
$ testssl.sh --debug=3 -p https://tls13.cloudflare.com
[..]
 TLS 1.3             sending client hello...
reading server hello...
TLS message fragments:
     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                183

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                23

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                2893

TLS handshake messages:
     handshake type:         0x02 (server_hello)
     msg_len:                179

TLS server hello message:
     tls_cipher_suite:       0xC02B

sending close_notify...
  (returned 91 lines)
server claims support for TLSv1.3, which is still a working draft (NOT ok)

```

Shouldn't there be 0x0304?


> I went ahead and added a specific test for TLS 1.3, since tls13.cloudflare.com connects with
> TLS 1.3 if the ClientHello specifies TLS 1.3, but connects with TLS 1.2 if the ClientHello
> specifies TLS 1.2.
> This shouldn't be incorporated into testssl.sh until TLS 1.3 is final, but it is available to
> use for testing.

cool!



Cheers, Dirk



Wrt the changes in the server hello from TLS 1.3 and  ``run_server_defaults()``. Thanks for the heads up.

We'll see.... 

> Shouldn't there be 0x0304?

The version number from the ServerHello is only displayed if the debug level is at least 4.

I wasn't sure it was possible, but with some work I was able to develop a partial solution to the problem of TLS 1.3 decrypting most of the handshake messages.

In the code I just uploaded to https://github.com/dcooper16/testssl.sh/blob/extended_tls_sockets/testssl.sh, `tls_sockets()` now parses the ServerHello to get the server's ephemeral key, derives the session key and IV needed to decrypt the remaining handshake messages, decrypts the messages, and then parses the decrypted handshake messages.

At the moment it only works for ECDHE ciphers that use AES GCM for the symmetric encryption. Unfortunately, OpenSSL does not provide a command-line option for GCM encryption/decryption, so I had to implement GCM in bash using OpenSSL's implementation of AES in ECB mode, working one block at the time, and so the symmetric decryption, especially of the server's certificate, is very slow.

If I had server's to test against, I think I could easily extend the code to work with DHE ciphers and with AES CCM ciphers. I don't think support for non-AES ciphers (e.g., CHACHA20_POLY1305, Camellia, ARIA) would be possible, since they don't seem to be supported by the OpenSSL enc command.

`$ bash testssl.sh --debug 3 --devel "04" "c0,2b" tls13.cloudflare.com`

```
TLS message fragments:
     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                147

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                23

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                2893

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                96

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x17
     msg_len:                53

TLS handshake messages:
     handshake type:         0x02 (server_hello)
     msg_len:                143

TLS server hello message:
     tls_cipher_suite:       0xC02B
     dh_bits:                ECDH, P-384, 384 bits
     tls_extensions:         "key share/#40"

reading server hello...
TLS message fragments:
     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                147

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                6

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                2876

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                79

     tls_protocol (reclyr):  0x0301
     tls_content_type:       0x16 (handshake)
     msg_len:                36

TLS handshake messages:
     handshake type:         0x02 (server_hello)
     msg_len:                143

     handshake type:         0x08 (encrypted_extensions)
     msg_len:                2

     handshake type:         0x0B (certificate)
     msg_len:                2872

     handshake type:         0x0F (certificate_verify)
     msg_len:                75

     handshake type:         0x14 (finished)
     msg_len:                32

TLS server hello message:
     tls_cipher_suite:       0xC02B
     dh_bits:                ECDH, P-384, 384 bits
     tls_extensions:         "key share/#40"

sending close_notify...
  (returned 204 lines)
```

BTW: testssl.net/tls13.testssl.net (TLD: net) is now at cloudflare.

I can see one of the new chacha20/poly1305 ciphers (CCA9) but with firefox 49 (tls version max 49).
(in the dashboard it's switched on). Last week chrome canary didn't even want to connect to tls13.cloudflare.com (TLS alert in the network)

Seems unfortunately too much beta yet, dashboard says "Note: TLS 1.3 is a beta feature. We do not guarantee every TLS 1.3-capable request will be served over TLS 1.3". 

Pity as the marketing I saw recently sounded more promising. :-(



with your code though ( https://github.com/dcooper16/testssl.sh/blob/extended_tls_sockets/testssl.sh) it seems to work:

```
prompt% DEBUG=4  ./testssl-tls13.sh --devel 04 "cc,a8, cc,a9, cc,aa, cc,ab, cc,ac" testssl.net
[..]
sending client hello... 
\x16\x03\x01\x2\x54\x01\x00\x2\x50\x03\x04\x57\xb2\x06\x42\xde\xad\xbe\xef
TLS server hello message:
     tls_protocol:           0x0304
     tls_cipher_suite:       0xCCA9
     dh_bits:                ECDH, P-256, 256 bits
     tls_extensions:         "signature algorithms/#13" "key share/#40"
```



I saw the announcement about Cloudflare supporting TLS 1.3 as well, and have been testing my branch against www.cloudflare.com. I was actually a bit disappointed about the announcement. I liked that they had a test server available that supported drafts of TLS 1.3, but I think it's too early for their production system to support it, since TLS 1.3 isn't finished yet.

I've been trying to keep up with the drafts of TLS 1.3, but haven't uploaded the changes to Github until I've been able to test them against at least one server.

Starting in draft -15 of TLS 1.3, the list of acceptable cipher suites changed:

>    This specification defines the following cipher suites for use with TLS 1.3.
> 
>               +------------------------------+-------------+
>               | Description                  | Value       |
>               +------------------------------+-------------+
>               | TLS_AES_128_GCM_SHA256       | {0x13,0x01} |
>               |                              |             |
>               | TLS_AES_256_GCM_SHA384       | {0x13,0x02} |
>               |                              |             |
>               | TLS_CHACHA20_POLY1305_SHA256 | {0x13,0x03} |
>               |                              |             |
>               | TLS_AES_128_CCM_SHA256       | {0x13,0x04} |
>               |                              |             |
>               | TLS_AES_128_CCM_8_SHA256     | {0x13,0x05} |
>               +------------------------------+-------------+
>  
>    The corresponding AEAD algorithms AEAD_AES_128_GCM, AEAD_AES_256_GCM, and AEAD_AES_128_CCM are defined in [RFC5116].  AEAD_CHACHA20_POLY1305 is defined in [RFC7539].  AEAD_AES_128_CCM_8 is defined in [RFC6655].  The corresponding hash algorithms are defined in [SHS].
> 
>  Although TLS 1.3 uses the same cipher suite space as previous versions of TLS, TLS 1.3 cipher suites are defined differently, only specifying the symmetric ciphers, and cannot it be used for TLS 1.2.  Similarly, TLS 1.2 and lower cipher suites cannot be used with TLS 1.3.

Draft -16 made a major change to the way that version negotiation is handled. Now, for TLS 1.2 and above, the version field in the ClientHello (now called the legacy_version field) is set to "03, 03". For versions 1.3 and above a new [Supported Versions](https://tools.ietf.org/html/draft-ietf-tls-tls13-16#section-4.2.1) extension is included to specify which TLS versions the client supports. Draft -16 also changed a few of the strings that are used in computing the session keys.

It seems that Cloudflare supports the new ciphers from draft -15, but doesn't yet support draft -16.

> I saw the announcement about Cloudflare supporting TLS 1.3 as well, and have been testing my 
> branch against www.cloudflare.com. I was actually a bit disappointed about the announcement. I 
> liked that they had a test server available that supported drafts of TLS 1.3, but I think it's too 
> early  for their production system to support it, since TLS 1.3 isn't finished yet.

+1 && LOL.1

As said the strange thing is: The only client which recognized TLS 1.3 was your implementation. No Chrome canary or Firefox 49 with  reconfigured tls max version was able to negotiate with TLS 1.3.
So if those clients won't do it either their implementation is not compatible or cloudflare's. In both cases: what is their point of supporting it on the server side -- production ready?

I was aware of the new ciphers 13,01 through 05 and spotted them in your code. Had some trouble though to determine what ciphers are actually supported, as the information -- blacklist and whitelists -- seems to be spread over several documents. Just a matter of time investment probably...

The change in TLS version negotiation appears rather late to me. Sounds to me like it's a fix for broken servers -- version 1.2 in Firefox has been shipped a longer while before it was enable by default. Culprit were some borken server implementations IIRC. 

Interesting to watch what will happen though...

I also have a working branch with TLSv1.3 scans added, is to early to add a PR for that? 

I have added a scan for it with notice that TLS is in draft  and should not be used for production sites but not added cipher scans for each client, however since there is no public tls1.3-draft19 yet it wont work in anything with TLSv1.3 and fallback to TLSv1.2 for everything

I would love to have TLS 1.3 included somehow, too. "Somehow" could mean with EXPERIMENTAL flag. Now even chromium and firefox support TLS 1.3 on Linux(!) in a similar fashion.

Can't tell how much the standard will change so that maintaining the code will be troublesome. @dcooper16 ?



I just uploaded my latest code to https://github.com/dcooper16/testssl.sh/tree/extended_tls_sockets. I only had to change a few lines of code to move from draft 18 to draft 19. I just hadn't uploaded the latest version since most of the publicly available servers are still on draft 18 (https://github.com/tlswg/tls13-spec/wiki/implementations).

I don't expect too much to change in TLSv1.3 at this point. Joseph Salowey sent a [message](https://mailarchive.ietf.org/arch/msg/tls/UCGOBSJN59QFcSyf6GWaIaLDw-o) on March 29 saying that the plan is for draft 20 to go to the Internet Engineering Steering Group (IESG), and Eric Rescorla sent a [message](https://mailarchive.ietf.org/arch/msg/tls/k7llvVGLtKDAegwNC2mclRQncZU) on April 2 saying that he planned to post draft 20 early this week. I also recall him saying that most implementers planned to skip draft 19 and go straight to draft 20. Once draft 20 comes out, and there is an implementation to test against, I'll update my branch to that draft.

My plan was to maintain my separate [branch](https://github.com/dcooper16/testssl.sh/tree/extended_tls_sockets) that fully supports TLSv1.3 using the latest draft that is supported by [other implementations](https://github.com/tlswg/tls13-spec/wiki/implementations) that I can test against, so that it would be ready to submit for inclusion in the mainline code as soon as TLSv1.3 went final. If you'd like, though, I could begin submitting PRs for TLSv1.3 now. The first step would be to incorporate the changes for `tls_sockets()` (and related functions), and then changes for the various `run_...()` functions could be added.

Hi David,

short notice before I call it a day: 1) good work -- looked at the huge diff. 
2) Any idea why my cloudflare domain (testssl.net) doesn't want to speak TLS 1.3?

Thx, Dirk

Only about 4 lines of code needed to be changed to go from draft 18 to draft 19. The only real change was made in `derive-handshake-traffic-secret()`. Other than that I just needed to change one line in `socksend_tls_clienthello()` so that the ClientHello advertised draft 19 instead of draft 18. [There was also a change to the contents of the HelloRetryRequest message, which resulted in some changes to `resend_if_hello_retry_request()`.

Most of the changes in the diff of that I posted today had nothing to do with moving from draft 18 to draft 19. I fixed a few bugs, added support for using OpenSSL 1.1.1 to test for TLSv1.3 support, and made some changes to simplify the code.

I tried testssl.sh, and it indicates TLS 1.3 support if I use the previous version of my code, but not if I use the new version. The reason for this is that the ClientHello needs to indicate which draft(s) of TLSv.1.3 the client supports. In the previous version of my code the ClientHello indicated support for draft 18 and in the new version the ClientHello indicates support for draft 19 (and only draft 19). Apparently, testssl.sh supports draft 18, but not draft 19. So, when I connect with the new version of my code, I advertise support for TLSv1.3 draft 19, TLSv1.2, TLSv1.1, TLSv1, and SSLv3. The server doesn't support TLSv1.3 draft 19, and so it chooses TLSv1.2.

I just made a quick change to my [extended_tls_sockets](https://github.com/dcooper16/testssl.sh/tree/extended_tls_sockets) branch. Now the ClientHello indicates support for both draft 18 and draft 19. It can't handle a HelloRetryRequest from a draft 18 server, but it can decrypt a response from either a draft 18 or draft 19 server. I think that means that most of the functionality will now work with both draft 18 and draft 19 servers, but `run_pfs()` may not be able to detect all of the curves/groups supported by a draft 18 server.

Hi David,

thanks for the response and the quick change for supporting both drafts. It worked then with testssl.net (TLD: "net" is @ cloudflare, "sh" is at a root server). Other than I thought TLS 1.3 seems then still a moving target. That wouldn't bother me but the incompatibility between the drafts does -- at least as a result that there was then a fall back to TLS 1.2. 

Given that and the fact that I am working on reordering the server preference (see new branch) which then would mean you gotta track this too in your extended_tls_sockets branch or I need to do this. So let's would say that the PR can wait a bit. Let me finish the work there... 

> My plan was to maintain my separate branch that fully supports TLSv1.3 using the latest draft that is supported by other implementations that I can test against, so that it would be ready to submit for inclusion in the mainline code as soon as TLSv1.3 went final.

A check for the draft advertised (https://tools.ietf.org/html/draft-ietf-tls-tls13-16#section-4.2.1.1) in run_protocols: wouldn't that make sense? If TLS final I guess this would matter so much anymore unless one wants to fingerprint whether an old version of TLS 1.3 is being used...

Cheers, Dirk



@dcooper16 I just tried your branch against a nginx mainline with tls v1.3 
TLS 1      not offered
 TLS 1.1    not offered
 TLS 1.2    offered (OK)
 TLS 1.3    not offered
 SPDY/NPN   h2, http/1.1 (advertised)
 HTTP2/ALPN h2, http/1.1 (offered)

any ideas how to debug?

@FernandoMiguel  You need to check which draft you are running on server, and which draft testssh.sh uses to test.  both needs to match. 



Which branch is the TLS1.3 test available on? I just tried on 2.9dev and it does not seem to test for 1.3.

@FernandoMiguel which TLS stack? If it is openssl you're probably @ draft 20, see https://github.com/tlswg/tls13-spec/wiki/Implementations .

@jauderho, see above

https://github.com/dcooper16/testssl.sh/tree/extended_tls_sockets currently checks for drafts 18, 19, and 20 of TLSv1.3.

I've never tried using nginx, so I can't be much help. However, I've tested my branch against all three nginx test servers listed on https://github.com/tlswg/tls13-spec/wiki/implementations and it works with all of them.

https://github.com/tlswg/tls13-spec/wiki/implementations shows nginx working with three different TLS implementations, all of which would be development versions.

If you are using OpenSSL, you need to get the "master" branch from https://github.com/openssl/openssl and you need to specifically provide the "enable-tls13" flag to configure, since TLSv1.3 support is not enabled by default.

For the record: See #893, #890, #889, #868, #883, #506, #528, #867, #856, #854 and maybe more.


FWIW, I’ve actually had a nginx+openssl instance running for a while now. As of now, the draft18 branch of OpenSSL has to be used.

Furthermore, I tested using testssl from git and it seems to be detecting TLSv1.3 just fine. 

So, good job!

It seems likely that some changes will be coming to TLSv1.3. The changes are intended to make TLSv1.3 look even more like TLSv1.2 messages in order to deal with middleboxes that are intolerant of the current TLSv1.3 handshake. One significant change will be that the version field in the ServerHello will now specify TLSv1.2, and it will be the presence of a supported_versions extension that will indicate that server actually selected TLSv1.3. The HelloRetryRequest message will also be reformatted to look like a ServerHello message.

It's too early to make any changes to the code in testssl.sh, but accommodating this will involve making some non-trivial changes. Since parsing a TLSv1.3 server response is very different from parsing an earlier version response, I don't particularly like that the extensions field will need to be parsed in order to determine what version the server selected.

If you are interested in following the topic:
- The suggestion was first raised on the mail list at https://mailarchive.ietf.org/arch/msg/tls/KTGrScK0h2kYvhegeI3rPVeL010; and

- The PR to make the change to the specification is at https://github.com/tlswg/tls13-spec/pull/1091/

The proposed change was discussed earlier today during the IETF meeting:

- slides: https://datatracker.ietf.org/meeting/100/materials/slides-100-tls-sessa-tls13/
- meeting minutes: https://mailarchive.ietf.org/arch/msg/tls/vjfcOEA-TR0cxXiKOTth7IjSryE
- session: https://www.youtube.com/watch?v=pR2zhJu8SXA

Hi David,

is there still anything missing which needs some code or can this be closed ?

Cheers, Dirk

I think this issue can be closed.