Partial wildcard certificates

Should "partial wildcard certificates" be trusted?

I have a cert with Common Name "*-test.my.domain", and while connecting host "en-host1-test.my.domain" got the message:

 Trust (hostname)             certificate does not match supplied URI (same w/o SNI)



It seems that this should be recognized as a match, so more information would be needed to try to find out why the match is not being recognized. The wildcard matching rules that we implemented are those from [RFC 6125, Section 6.4.3](https://www.rfc-editor.org/rfc/rfc6125.html#section-6.4.3). We support the "MAY" part, but do not allow things described as "SHOULD NOT".

Perhaps you can read the rules in that section to see if there is something in your common name or domain name that would cause the match not to work. If not, then we would need the actual domain name in order to be able to run tests to try to find out why it isn't matching.

Sorry for late reply.

As I've done some investigation, partial wildcards are recognized Ok in SAN section of certificate via "DNS:*-test.local" statement i.e. but not in CN part.
I'm not sure if RFC states this clear...

Thank you anyways!

> As I've done some investigation, partial wildcards are recognized Ok in SAN section of certificate via "DNS:*-test.local" statement i.e. but not in CN part.

I've looked at the source code and testssl.sh checks both the SAN and the CN for a wildcard match. So, if testssl.sh is finding a match when the wildcard appears in the SAN but not when it appears in the CN, then I have only one other guess at the moment. Before matching the server's DNS name against the CN in the certificate, testssl.sh tries to determine whether the CN contains a DNS name:
```
     # If the CN contains any characters that are not valid for a DNS name,
     # then assume it does not contain a DNS name.
     [[ -n $(sed 's/^[_\.a-zA-Z0-9*\-]*//' <<< "$cn") ]] && return $subret
```
If the CN string contains any characters other than a letter, number, underscore ('_'), hyphen ('-'), period ('.'), or the wildcard character ('*'), then testssl.sh assumes the CN does not contain a DNS name and so doesn't try to match it against the server's DNS name. DNS names in the SAN are not checked in this way since the issuer of the certificate has specifically indicated that those names are DNS names.

> I'm not sure if RFC states this clear...

The RFC says not to look for a match in the CN if the SAN is present. At this point, many browsers won't look at the CN even if the SAN is not present. However, testssl.sh always looks at both, but then warns of potential problems if a match is only found in the CN.

> I have a cert with Common Name "*-test.my.domain", and while connecting host "en-host1-test.my.domain" got the message:
>
> Trust (hostname) certificate does not match supplied URI (same w/o SNI)

What do browsers say? @Pkuutn 

And: is CN and SAN the same?



Hello,
we're getting same Error and Grade "M" but it's wrong.
Cert is \*.mydomain.com from Sectigo (COMODO)
and entries
DNS=\*.mydomain.com
DNS=mydomain.com
Subject CN=\*.mydomain.com

checked with SSL Labs online Tool and getting a A+ SIte Range within Certificate in correct order, matching URL mytestsite.mydomain.com

So, i guess the output 

Trust (hostname)             certificate does not match supplied URI (same w/o SNI)
and
Overall Grade                M Grade cap reasons            Grade capped to M. Domain name mismatch

isn't correct.

 @mlied (and maybe also @Pkuutn): could you give it a try please with a fresh pull from 3.1dev (see a6c2168cd9d3ea166761cc4265aefa9c661cd497)

Great Work, 3.1 Dev can match this to
Overall Grade   A+

1000 x Thanks!